﻿
@{
    ViewData["Title"] = "404 - Страница не найдена";
}
<h1 class="text-center my-4 text-basic">@ViewData["Title"]</h1>

<div class="img-container-block">
    <img src="~/img/common-404.svg" class="img-fluid">
</div>
<div class="container col-sm-12 col-md-6 col-lg-2 my-4">
    <div class="row justify-content-center">
        <div class="col">
            <a asp-action="Index" asp-controller="Home" class="btn btn-block btn-basic btn-main">Главная</a>
        </div>
    </div>
</div>