﻿<!-- Youtube -->
<div class="container-fluid p-0">
    <div class="row align-items-center youtube-background">
        <div class="col-sm-3 d-flex justify-content-center text-center youtube-block-min-width">
            <div class="youtube-text-block">
                <div class="youtube-watch-text-block-image">
                    <a href="@ViewData["Youtube"]" target="_blank"><img src="~/img/svg/youtube-watch.svg" style="max-width: 100%" /></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex justify-content-center text-center youtube-block-min-width">
            <div class="youtube-text-block">
                <div class="youtube-text-block-image">
                    <div class="youtube-two-row-text text-white">
                        <div class="top-row">Будьте первыми</div>
                        <div class="bottom-row">кто увидит новинки</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex justify-content-center text-center youtube-block-min-width">
            <div class="two-halfs-block two-row smx-one-row youtube-krista-icon">
                <div class="left-wrapper">
                    <div class="youtube-krista-icon-background">
                        <div class="youtube-krista-icon-image"><img src="~/img/svg/krista-pic.gif" class="youtube-krista-icon-image-img"/></div>
                    </div>
                </div>
                <div class="right-wrapper wrapper-8 justify-content-center justify-content-smx-start text-white pl-2">
                    <div class="youtube-krista-icon-text">
                        Krista Unique
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center youtube-block-min-width d-flex justify-content-center">
            <div class="youtube-buttons-block">
                <a asp-action="Index" asp-controller="VideoGallery" class="btn btn-basic btn-youtube">СМОТРИТЕ НАШИ РОЛИКИ</a>
                <a href="@ViewData["YoutubeSubscribe"]" target="_blank" class="btn btn-basic btn-youtube">ПОДПИСЫВАЙТЕСЬ НА КАНАЛ</a>
            </div>
        </div>
    </div>
</div>
<!-- Youtube -->