﻿@using KristaShop.DataReadOnly.Documents
@model IEnumerable<KristaShop.DataReadOnly.DTOs.DocRegistryDTO>

@foreach (var item in Model)
{
    string docNum = $"{item.RuDocTypeName} №{item.DocNum}";
    <div class="card rounded-0 my-3">
        <div class="card-header bg-dark text-white">
            <div class="row">
                <div class="col-auto mr-auto font-weight-bold">@docNum</div>
                <div class="col-auto font-weight-bold">@item.StatusName</div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-auto mr-auto">
                    <p class="m-0">Дата: @item.CreateDate.ToString("dd.MM.yyyy HH:mm")</p>
                    @if (item.Sum > 1E-6)
                    {
                        <p class="m-0">Сумма: @item.Sum.ToTwoDecimalPlaces() $ | @item.SumRu.ToTwoDecimalPlaces() р</p>
                    }
                    @if (!string.IsNullOrEmpty(item.Description) && item.DocumentType != DocumentType.Shipment)
                    {
                        <p class="m-0">Комментарий: @item.Description</p>
                    }
                </div>
                <div class="col-auto">
                    @if (item.DocumentType == DocumentType.Shipment)
                    {
                        <a asp-action="StoreIncomeDetails" asp-controller="Personal" asp-route-docId="@item.DocId" target="_blank" class="btn btn-basic btn-active btn-sm px-3">Подробнее</a>
                    }
                    else if (item.DocumentType != DocumentType.CashboxIncomeOrder && item.DocumentType != DocumentType.CashboxOutcomeOrder)
                    {
                        <a asp-action="SuborderDetails" asp-controller="Personal" asp-route-docId="@item.DocId" target="_blank" class="btn btn-basic btn-active btn-sm px-3">Подробнее</a>
                    }
                </div>
            </div>
        </div>
        @if (item.IsFileExist)
        {
            <div class="card-footer text-muted">
                <a href="#" onclick="ButtonFile('@item.DocId'); return false;" class="m-auto text-dark text-decoration-none" data-id="@item.DocId">
                    <i class="mdi mdi-arrow-down-drop-circle mdi-files-@item.DocId"></i> Файлы
                </a>
            </div>
        }
    </div>
    <div class="col-12 invisible" id="div-files-@item.DocId" data-id="@item.DocId">
    </div>
}