﻿@model IEnumerable<KristaShop.DataReadOnly.DTOs.DocRegistryFileDTO>

@foreach (var item in Model)
{
    <div class="card rounded-0 my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-auto mr-auto">
                    @item.FileName
                    <br />
                    @item.Description
                </div>
                <div class="col-auto">
                    <a asp-action="DownloadFile" asp-controller="Personal" asp-route-id="@item.Id" class="btn btn-active-outline-black btn-sm mdi mdi-download"></a>
                </div>
            </div>
        </div>
    </div>
}