﻿@model ChangePasswordViewModel
<div class="container">
    <div class="row m-4 justify-content-center">
        <div class="col-12 col-md-7 col-lg-5">
            <h1 class="text-header-basic text-center">Смена пароля</h1>
            <form method="post" asp-action="ChangePassword" asp-controller="Personal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.IsCurrentPasswordVisible) {
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="CurrentPassword" class="sr-only"></label>
                            <input type="password" asp-for="CurrentPassword" class="form-control rounded-0" placeholder="Текущий пароль" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>
                }
                <div class="form-row">
                    <div class="form-group col">
                        <label asp-for="Password" class="sr-only"></label>
                        <input type="password" asp-for="Password" class="form-control rounded-0" placeholder="Новый пароль" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label asp-for="ConfirmPassword" class="sr-only"></label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control rounded-0" placeholder="Подтвердите пароль" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-block btn-basic btn-active rounded-0">Сменить пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>