﻿@model IEnumerable<KristaShop.DataReadOnly.DTOs.DocRegistryDTO>
@{
    ViewData["Title"] = "Личный кабинет";
}

<div class="container my-4">
    <div class="pb-lg-4 pb-sm-2"><p class="h4 text-header-bold">@ViewData["Title"]</p></div>
    <div class="row">
        <div class="col-lg-3 col-lg-3-larger col-md-4 col-sm-12">
            @await Component.InvokeAsync("Profile")
        </div>
        <div class="col-lg-9 col-lg-9-larger col-md-8 col-sm-12">
            <div class="active-doc-orders">
                <div class="bg-dark text-white p-2">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <i class="mdi mdi-arrow-expand"></i> @ViewData["Title"]
                        </div>
                        <div class="col-auto font-weight-bold">На сумму @Model.Sum(x => x.Sum).ToTwoDecimalPlaces() $ | @Model.Sum(x => x.SumRu).ToTwoDecimalPlaces() р</div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="card rounded-0 my-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-auto mr-auto font-weight-bold">Заказ №@item.DocNum</div>
                                <div class="col-auto font-weight-bold">@item.StatusName</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto mr-auto">
                                    <p class="m-0">Дата: @item.CreateDate.ToString("dd.MM.yyyy HH:mm")</p>
                                    <p class="m-0">Сумма: @item.Sum.ToTwoDecimalPlaces() $ | @item.SumRu.ToTwoDecimalPlaces() р</p>
                                </div>
                                <div class="col-auto">
                                    <a asp-action="OrderDetails" asp-controller="Personal" asp-route-docId="@item.DocId" target="_blank" class="btn btn-basic btn-active btn-sm px-3">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="text-decoration-none m-auto text-dark" data-toggle="collapse" data-target="#div-@item.DocId" aria-expanded="false" aria-controls="div-@item.DocId">
                                <i class="mdi mdi-arrow-down-drop-circle mdi-@item.SubtreeId"></i> Документы
                            </a>
                        </div>
                    </div>
                    <div class="col-12 panel-collapse collapse" id="div-@item.DocId" data-id="@item.SubtreeId">
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('.collapse').on("shown.bs.collapse", function (e) {
            var subtreeId = $(this).attr("data-id");
            $(".mdi-" + subtreeId).removeClass('mdi-arrow-down-drop-circle');
            $(".mdi-" + subtreeId).addClass('mdi-arrow-up-drop-circle');
            $(this).load("/Personal/GetPartialDocuments?subtreeId=" + subtreeId);
        });
        $('.collapse').on('hidden.bs.collapse', function () {
            var subtreeId = $(this).attr("data-id");
            $(".mdi-" + subtreeId).removeClass(' mdi-arrow-up-drop-circle');
            $(".mdi-" + subtreeId).addClass(' mdi-arrow-down-drop-circle');
        });

        function ButtonFile(DocId) {
            var isInVisible = $("#div-files-" + DocId).hasClass("invisible");
            if (isInVisible == true) {
                $(".mdi-files-" + DocId).removeClass(' mdi-arrow-down-drop-circle');
                $(".mdi-files-" + DocId).addClass(' mdi-arrow-up-drop-circle');
                $("#div-files-" + DocId).removeClass('invisible');
                $("#div-files-" + DocId).addClass('visible');
                $("#div-files-" + DocId).load("/Personal/GetPartialFiles?docId=" + DocId);
            } else if (isInVisible == false) {
                $(".mdi-files-" + DocId).removeClass(' mdi-arrow-up-drop-circle');
                $(".mdi-files-" + DocId).addClass(' mdi-arrow-down-drop-circle');
                $("#div-files-" + DocId).removeClass('visible');
                $("#div-files-" + DocId).addClass('invisible');
                $("#div-files-" + DocId).html('');
            }
        }
    </script>
}