﻿@using KristaShop.Common.Enums
@model DocumentDetailsViewModel

@{
    ViewData["Title"] = Model.DocNum;
}

<div class="container mt-2">
    <a href="@ViewData["Referer"]" class="text-secondary">Вернуться к заказам</a>
    <div class="d-flex my-3 flex-wrap">
        <div class="">
            <p class="h3 text-uppercase"><b>@ViewData["Title"]</b></p>
            <p class="m-0">Итого: @Model.TotalPrice</p>
            @if (Model.Status != UniversalDocState.Completed && Model.Status > 0) {
                <p class="m-0">Оплачено: @Model.TotalPayIn</p>
                <p class="m-0">Долг: @Model.TotalDebt</p>
                if (Model.HasPrepay) {
                    <p class="m-0">Предоплата: @Model.Prepay</p>
                }
            }
            <p class="m-0">Единиц: @Model.TotalPartsCount</p>
        </div>
        <div class="ml-lg-auto ml-md-auto">
            <p class="h4 text-uppercase">Cтатус: <text class="text-success">@Model.StatusName</text></p>
        </div>
    </div>
    <div class="row text-center align-items-start p-3 d-none d-md-flex">
        <div class="col-1"></div>
        <div class="col-2 m-0 p-0"><b>Артикул</b></div>
        <div class="col-1 m-0 p-0"><b>Цвет</b></div>
        <div class="col-1 m-0 p-0"><b>Размер</b></div>
        <div class="col-2 m-0 p-0"><b>Количество</b></div>
        <div class="col-2 m-0 p-0"><b>Статус</b></div>
        <div class="col"><b>Цена</b></div>
        <div class="col"><b>Скидка</b></div>
    </div>
    @if (Model.Items.Any(x => x.IsPreorder)) {
        <div class="d-flex my-1 flex-wrap d-block bg-dark text-white align-items-center p-2" data-toggle="collapse" href="#collapsePreorder" role="button" aria-expanded="false" aria-controls="collapsePreorder">
            <div class="">
                <p class="m-auto">
                    <i class="mdi mdi-arrow-expand"></i> Предзаказ
                </p>
            </div>
            <div class="ml-auto">
                На сумму @Model.PreorderPrice
            </div>
        </div>
        @foreach (var item in Model.Items.Where(x => x.IsPreorder)) {
            <div class="row collapse show text-center align-items-center border-top border-bottom m-0 mb-3 @Html.AddValue(item.Status == UniversalDocState.Canceled, "text-line-through")" id="collapsePreorder">
                @if (string.IsNullOrEmpty(item.Image)) {
                    <div class="col-lg-1 col-md-1 col-sm-12 p-0"><img src="~/img/noimage.png?width=100" class="img-fluid" alt="Alternate Text" /></div>
                }
                else {
                    <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                        <a href="@item.Image" data-lightbox="Изображение" data-title="@item.FullName">
                            <img src="@item.Image?width=100" class="img-fluid" alt="Alternate Text" />
                        </a>
                    </div>
                }
                <div class="col-lg-2 col-md-1 col-sm-12 m-0 p-0">@item.Articul</div>
                <div class="col-lg-1 col-md-1 col-sm-12 m-0 p-0">
                    @{ var background = string.IsNullOrEmpty(item.ColorImg) ? item.ColorCode : $"url({item.ColorImg})";}
                    <span class="color-round" data-toggle="tooltip" data-placement="top" title="@item.ColorName" style="background: @background;"></span>
                    <div>@item.ColorName</div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 m-0 p-0">@item.Size</div>
                <div class="col-lg-2 col-md-2 col-sm-12 m-0 p-0">@item.TotalAmount</div>
                <div class="col-lg-2 col-md-2 col-sm-12 m-0 p-0">@item.StatusName</div>
                <div class="col-lg-3 col-md-3 col-sm-12 d-md-flex align-self-stretch bg-secondary">
                    <div class="row">
                        <div class="col-6 bg-light d-flex align-self-stretch align-items-center">
                            <p class="text-dark m-auto">
                                @item.Price.ToTwoDecimalPlaces() $
                                <br />
                                @item.PriceRu.ToTwoDecimalPlaces() р
                            </p>
                        </div>
                        <div class="col-6 d-flex align-self-stretch align-items-center" style="background-color:#E0E0E0">
                            <p class="text-dark m-auto">
                                @item.Discount.ToTwoDecimalPlaces() $
                                <br />
                                @item.DiscountRu.ToTwoDecimalPlaces() р
                            </p>
                        </div>
                        <div class="col-12 bg-secondary d-flex align-self-stretch align-items-center">
                            <p class="text-white m-auto">Итого <b>@item.TotalPrice.ToTwoDecimalPlaces() $ | @item.TotalPriceRu.ToTwoDecimalPlaces() р</b></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    @if (Model.Items.Any(x => !x.IsPreorder)) {
        <div class="d-flex my-1 flex-wrap d-block bg-dark text-white align-items-center p-2" data-toggle="collapse" href="#collapseExist" role="button" aria-expanded="false" aria-controls="collapseExist">
            <div class="">
                <p class="m-auto">
                    <i class="mdi mdi-arrow-expand"></i> Наличие
                </p>
            </div>
            <div class="ml-auto">
                На сумму @Model.InStockPrice
            </div>
        </div>
        @foreach (var item in Model.Items.Where(x => !x.IsPreorder)) {
            <div class="row collapse show text-center align-items-center border-top border-bottom m-0 mb-3 @Html.AddValue(item.Status == UniversalDocState.Canceled, "text-line-through")" id="collapseExist">
                @if (string.IsNullOrEmpty(item.Image)) {
                    <div class="col-lg-1 col-md-1 col-sm-12 p-0"><img src="~/img/noimage.png?width=100" class="img-fluid" alt="Alternate Text" /></div>
                }
                else {
                    <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                        <a href="@item.Image" data-lightbox="Изображение" data-title="@item.FullName">
                            <img src="@item.Image?width=100" class="img-fluid" alt="Alternate Text" />
                        </a>
                    </div>
                }
                <div class="col-lg-2 col-md-1 col-sm-12 m-0 p-0">@item.Articul</div>
                <div class="col-lg-1 col-md-1 col-sm-12 m-0 p-0">
                    @{ var background = string.IsNullOrEmpty(item.ColorImg) ? item.ColorCode : $"url({item.ColorImg})";}
                    <span class="color-round" data-toggle="tooltip" data-placement="top" title="@item.ColorName" style="background: @background;"></span>
                    <div>@item.ColorName</div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 m-0 p-0">@item.Size</div>
                <div class="col-lg-2 col-md-2 col-sm-12 m-0 p-0">@item.TotalAmount</div>
                <div class="col-lg-2 col-md-2 col-sm-12 m-0 p-0">@item.StatusName</div>
                <div class="col-lg-3 col-md-3 col-sm-12 d-md-flex align-self-stretch bg-secondary">
                    <div class="row">
                        <div class="col-6 bg-light d-flex align-self-stretch align-items-center">
                            <p class="text-dark m-auto">
                                @item.DisplayPrice.ToTwoDecimalPlaces() $ <br /> @item.DisplayPriceRu.ToTwoDecimalPlaces() р
                            </p>
                        </div>
                        <div class="col-6 d-flex align-self-stretch align-items-center" style="background-color:#E0E0E0">
                            <p class="text-dark m-auto">
                                @item.DisplayDiscount.ToTwoDecimalPlaces() $ <br /> @item.DisplayDiscountRu.ToTwoDecimalPlaces() р
                            </p>
                        </div>
                        <div class="col-12 bg-secondary d-flex align-self-stretch align-items-center">
                            <p class="text-white m-auto">Итого <b>@item.TotalPrice.ToTwoDecimalPlaces() $ | @item.TotalPriceRu.ToTwoDecimalPlaces() р</b></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <div class="d-flex my-1 flex-wrap d-block bg-dark text-white align-items-center p-2">
        <div>
            <p class="m-auto"> Итого </p>
        </div>
        <div class="ml-auto"></div>
        <div class="ml-auto">
            <div>Единиц: @Model.TotalPartsCount</div>
            <div>На сумму: @Model.TotalPrice</div>
        </div>
    </div>
    
    @if (Model.Files.Any()) {
        <div class="card-footer mt-5">
            Файлы
            <div>
                @await Html.PartialAsync("_FilesPartial", Model.Files)
            </div>
        </div>
    }
</div>