﻿@{
    ViewData["Title"] = "Сообщения - список";
}

<style>
   
</style>
<hr />
<div class="col-12 table-responsive">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>№</th>
                <th>ФИО</th>
                <th>№ телефона</th>
                <th>Почта</th>
                <th>Дата</th>
                <th>Тип</th>
                <th>Прочитано</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div class="hidden row-content-container">
        <div class="row-content">
            <div class="form-group">
                <label class="control-label">Сообщение:</label>
                <textarea readonly class="form-control row-content-message bg-white" rows="5" cols="15"></textarea>
            </div>
            <div class="row-content-files">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin/Feedback/Index.js" asp-append-version="true" type="text/javascript"></script>
}