﻿@model CatalogViewModel
@{
    ViewData["Title"] = $"Модели - каталог {Model.Name}";
}

@section Styles {
    <link href="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
}

<div class="row mb-3">
    <div class="col-auto mr-auto"></div>
    <div class="col-auto">
        <a asp-action="Index" asp-controller="Catalog" asp-area="Admin" class="btn btn-sm btn-primary mr-1" type="button"><i class="fas fa-arrow-circle-left"></i> Назад</a>
    </div>
</div>
<input type="hidden" asp-for="Id" />

<partial name="_ReorderModal" />
@await Component.InvokeAsync("SearchModel")

<div class="p-4 mt-3 bg-white rounded shadow">
    <div class="col-12 table-responsive">
        <table class="table table-striped table-bordered text-break" style="width:100%">
            <thead>
                <tr>
                    <th>Порядок</th>
                    <th>Фото</th>
                    <th>Цена</th>
                    <th>Дата</th>
                    <th>Артикул</th>
                    <th>Наименование</th>
                    <th>Цвет</th>
                    <th>Размер</th>
                    <th>Каталог</th>
                    <th>Категория</th>
                    <th><i class="fa fa-eye"></i></th>
                    <th><i class="fa fa-eye"></i></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js" type="text/javascript"></script>
    <script src="~/js/admin/CModel/IndexByCatalog.js" asp-append-version="true" type="text/javascript"></script>
}