﻿@{
    ViewData["Title"] = "Модели - Список";
}

@await Component.InvokeAsync("SearchModel")

<div class="p-4 mt-3 bg-white rounded shadow">
    <div class="col-12 table-responsive">
        <table class="table table-striped table-bordered text-break" style="width:100%">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Фото</th>
                    <th>Артикул</th>
                    <th>Наименование</th>
                    <th>Цвет</th>
                    <th>Размер</th>
                    <th>Каталог</th>
                    <th>Категория</th>
                    <th><i class="fa fa-eye"></i></th>
                    <th><i class="fa fa-eye"></i></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin/CModel/Index.js" asp-append-version="true" type="text/javascript"></script>
}