﻿@model NomFavoriteViewModel
@inject KristaShop.Common.Interfaces.IFrontUserService userService
@{
    ViewData["Title"] = "Ваши избранные модели";
    var confirmationTitle = "Удаление из избранного";
    var confirmationMessage = "Вы уверены, что хотите удалить модель '{0}' из избранного?";
}

<div class="container-fluid">
    <div class="form-row my-4">
        <div class="offset-xl-2 offset-lg-3 col px-2">
            <h2 class="text-black text-center text-md-center text-lg-left">
                @ViewData["Title"]
            </h2>
        </div>
    </div>

    <div class="form-row">
        <div class="col-12 col-md-12 col-lg-3 col-xl-2">
            <form id="searchForm">
                @await Component.InvokeAsync("SearchPanel", new {
                    searchingType = KristaShop.Common.Enums.SearchingType.User,
                    filter = Model.Filter
                })
            </form>
        </div>
        <div class="col-12 col-md-12 col-lg-9 col-xl-10">
            <div class="row px-2 mb-2">
                <div class="col-12">
                    <div class="btn-group bg-white rounded-0" role="group" aria-label="Basic example">
                        <a type="button" href="@Url.Action("Index", new
                                               {
                                                   Name = Model.Filter.Name,
                                                   CategoryIds = Model.Filter.CategoryIds,
                                                   ColorIds = Model.Filter.ColorIds,
                                                   SizeIds = Model.Filter.SizeIds,
                                                   PriceMin = Model.Filter.PriceMin,
                                                   PriceMax = Model.Filter.PriceMax,
                                                   OrderNew = true,
                                                   OrderPrice = false,
                                                   OrderColumn = Model.Filter.OrderColumn
                                               })"
                           class="btn rounded-0 mdi @(Model.Filter.OrderColumn.Equals("OrderNewAsc") ? "mdi-arrow-down-drop-circle-outline" : (Model.Filter.OrderColumn.Equals("OrderNewDesc") ? "mdi-arrow-up-drop-circle-outline" : ""))">Новизна</a>
                        <a type="button" href="@Url.Action("Index", new
                                               {
                                                   Name = Model.Filter.Name,
                                                   CategoryIds = Model.Filter.CategoryIds,
                                                   ColorIds = Model.Filter.ColorIds,
                                                   SizeIds = Model.Filter.SizeIds,
                                                   PriceMin = Model.Filter.PriceMin,
                                                   PriceMax = Model.Filter.PriceMax,
                                                   OrderNew = false,
                                                   OrderPrice = true,
                                                   OrderColumn = Model.Filter.OrderColumn
                                               })"
                           class="btn rounded-0 mdi @(Model.Filter.OrderColumn.Equals("OrderPriceAsc") ? "mdi-arrow-down-drop-circle-outline" : (Model.Filter.OrderColumn.Equals("OrderPriceDesc") ? "mdi-arrow-up-drop-circle-outline" : ""))">Цена</a>
                    </div>
                </div>
            </div>
            <!-- Start Model -->
            @if (Model.PageList.Any()) {
                <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-2 row-cols-1 px-3">
                    @foreach (var item in Model.PageList) {
                        <div class="col p-2">
                            <div class="card rounded-0 border-0 h-100">
                                <div class="close">
                                    <div class="ajax-background-form" data-use-response-message="True" data-success-callback="deleteFavorite" data-include-confirmation="True" data-confirmation-title="@confirmationTitle" data-confirmation-message="@string.Format(confirmationMessage, item.ItemName)">
                                        <form name="favorite" method="post" asp-action="DeleteFavorite" asp-controller="Favorite">
                                            <input type="hidden" asp-for="@item.NomId" name="@nameof(item.NomId)" />
                                            <input type="hidden" asp-for="@item.CatalogId" name="@nameof(item.CatalogId)" />
                                            <button type="submit" class="btn">
                                                <i class="mdi mdi-close-circle-outline icon-font-24px"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <a href="@Url.Action("Product", "Catalog", new {NomId = item.NomId, CtlgUri = item.CatalogUri})">
                                    <img class="card-img-top" src="@item.ImagePath?width=400&height=600" alt="">
                                </a>
                                <div class="card-body p-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="m-0">
                                                @item.ItemName
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a href="@Url.Action("Product", "Catalog", new {NomId = item.NomId, CtlgUri = item.CatalogUri})"
                                               class="btn btn-basic btn-main rounded-0 btn-block">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @Html.Pager(Model.PageList, page => Url.Action("Index", new {
                    page,
                    Name = Model.Filter.Name,
                    CategoryIds = Model.Filter.CategoryIds,
                    ColorIds = Model.Filter.ColorIds,
                    SizeIds = Model.Filter.SizeIds,
                    PriceMin = Model.Filter.PriceMin,
                    PriceMax = Model.Filter.PriceMax,
                    OrderNew = false,
                    OrderPrice = false,
                    OrderColumn = Model.Filter.OrderColumn
                }), new PagerOptions {
                    ClassToPagerContainer = "d-flex justify-content-center my-5",
                    TextToPreviousPage = "&larr;",
                    TextToNextPage = "&rarr;",
                    ClassToUl = "list-inline",
                    ClassToLi = "list-inline-item",
                    PageClass = "nopageclass text-decoration-none text-dark",
                    ClassToActiveLi = "niloclass",
                    TextForDelimiter = "|"
                })
            } else {
                <p class="text-center h3">По Вашему запросу в каталоге модели отсутствуют.</p>
            }
            <!-- End Model -->
        </div>
    </div>
</div>