﻿@model IEnumerable<KristaShop.Business.DTOs.CartItemDTO>

@{
    ViewData["Title"] = "Корзина";
    string totalPrice = Model.Sum(x => x.TotalPrice).ToTwoDecimalPlaces();
    string totalPriceRu = Model.Sum(x => x.TotalPriceRu).ToTwoDecimalPlaces();
    double preorderPrice = Model.Where(x => x.IsPreorder).Sum(x => x.TotalPrice);
    double preorderPriceRu = Model.Where(x => x.IsPreorder).Sum(x => x.TotalPriceRu);
    string preorderTotalPrice = (preorderPrice * 0.3).ToTwoDecimalPlaces();
    string preorderTotalPriceRu = (preorderPriceRu * 0.3).ToTwoDecimalPlaces();
    string instockPrice = Model.Where(x => !x.IsPreorder).Sum(x => x.TotalPrice).ToTwoDecimalPlaces();
    string instockPriceRu = Model.Where(x => !x.IsPreorder).Sum(x => x.TotalPriceRu).ToTwoDecimalPlaces();
}
<div class="container mt-2">
    <div class="d-flex my-3 flex-wrap">
        <div class="">
            <p class="h3 text-uppercase text-black"><b>@ViewData["Title"]</b></p>
        </div>
        <div class="ml-lg-auto ml-md-auto">
            <p class="h4 text-uppercase">
                Итого: @totalPrice $ | @totalPriceRu р
                <a class="btn btn-lg btn-basic btn-active ml-lg-4 ml-md-4 text-capitalize" href="#submitBtn">Оформить заказ <i class="mdi mdi-arrow-down"></i></a>
            </p>
        </div>
    </div>
    @if (Model.Any())
    {
        <div class="row text-center align-items-start p-3 d-none d-md-flex">
            <div class="col-1"></div>
            <div class="col-1 m-0 p-0"><b>Артикул</b></div>
            <div class="col-1 m-0 p-0"><b>Цвет</b></div>
            <div class="col-1 m-0 p-0"><b>Размер</b></div>
            <div class="col-2 m-0 p-0"><b>Количество</b></div>
            <div class="col-2 m-0 p-0"><b>Единиц</b></div>
            <div class="col-3"><b>Расчет</b></div>
        </div>
        if (Model.Any(x => x.IsPreorder))
        {
            <div class="d-flex my-1 flex-wrap d-block bg-dark text-white align-items-center p-2" data-toggle="collapse" href="#collapsePreorder" role="button" aria-expanded="false" aria-controls="collapsePreorder">
                <div class="">
                    <p class="m-auto">
                        <i class="mdi mdi-arrow-expand"></i> Предзаказ
                    </p>
                </div>
                <div class="ml-auto">
                    На сумму @preorderPrice.ToTwoDecimalPlaces() $ | @preorderPriceRu.ToTwoDecimalPlaces() р | Предоплата 30%: @preorderTotalPrice $ | @preorderTotalPriceRu р
                </div>
            </div>
            @foreach (var item in Model.Where(x => x.IsPreorder))
            {
                <div class="row collapse show text-center align-items-center border-top border-bottom m-0 mb-3" id="collapsePreorder">
                    <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                        <a href="@item.Image" data-lightbox="Изображение" data-title="@item.FullName">
                            <img src="@item.Image?width=100" class="img-fluid" alt="Alternate Text" />
                        </a>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 m-0 p-0">@item.Articul</div>
                    <div class="col-lg-1 col-md-1 col-sm-12 m-0 p-0">
                        @{ var background = string.IsNullOrEmpty(item.ColorImg) ? item.ColorCode : $"url({item.ColorImg})";}
                        <div class="color-round" title="@item.ColorName" style="background: @background;"></div>
                        <div>@item.ColorName</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 m-0 p-0">@item.Size</div>
                    <div class="col-lg-2 col-md-2 col-sm-12 m-0 p-0">@item.Amount</div>
                    <div class="col-lg-2 col-md-2 col-sm-12 m-0 p-0">@item.TotalAmount</div>
                    <div class="col-lg-3 col-md-3 col-sm-12 d-md-flex align-self-stretch">
                        <div class="row">
                            <div class="col-6 bg-light d-flex align-self-stretch align-items-center">
                                <p class="text-dark m-auto">Цена <b><span class="text-nowrap">@item.DisplayPrice.ToTwoDecimalPlaces() $</span> | <span class="text-nowrap">@item.DisplayPriceRu.ToTwoDecimalPlaces() р</span></b></p>
                            </div>
                            <div class="col-6 d-flex align-self-stretch align-items-center" style="background-color:#E0E0E0">
                                <p class="text-dark m-auto">Скидка <b><span class="text-nowrap">@item.DisplayDiscount.ToTwoDecimalPlaces() $</span> | <span class="text-nowrap">@item.DisplayDiscountRu.ToTwoDecimalPlaces() р</span></b></p>
                            </div>
                            <div class="col-12 bg-secondary d-flex align-self-stretch align-items-center">
                                <p class="text-white m-auto">Итого <b><span class="text-nowrap">@item.TotalPrice.ToTwoDecimalPlaces() $</span> | <span class="text-nowrap">@item.TotalPriceRu.ToTwoDecimalPlaces() р</span></b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                        <form method="post" asp-action="Delete">
                            <button type="submit" name="CartId" value="@item.Id" class="btn">
                                <span class="mdi mdi-close-circle-outline text-red icon-font-24px"></span>
                            </button>
                        </form>
                    </div>
                </div>
            }
        }
        if (Model.Any(x => !x.IsPreorder))
        {
            <div class="d-flex my-1 flex-wrap d-block bg-dark text-white align-items-center p-2" data-toggle="collapse" href="#collapseExist" role="button" aria-expanded="false" aria-controls="collapseExist">
                <div class="">
                    <p class="m-auto">
                        <i class="mdi mdi-arrow-expand"></i> Наличие
                    </p>
                </div>
                <div class="ml-auto">
                    На сумму @instockPrice $ | @instockPriceRu р
                </div>
            </div>

            @foreach (var item in Model.Where(x => !x.IsPreorder))
            {
                <div class="row collapse show text-center align-items-center border-top border-bottom m-0 mb-3" id="collapseExist">
                    <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                        <a href="@item.Image" data-lightbox="Изображение"
                           data-title="Изображение">
                            <img src="@item.Image?width=100" class="img-fluid" alt="Alternate Text" />
                        </a>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 m-0 p-0">@item.Articul</div>
                    <div class="col-lg-1 col-md-1 col-sm-12 m-0 p-0">
                        @{ var background = string.IsNullOrEmpty(item.ColorImg) ? item.ColorCode : $"url({item.ColorImg})";}
                        <div class="color-round" title="@item.ColorName" style="background: @background;"></div>
                        <div>@item.ColorName</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 m-0 p-0">@item.Size</div>
                    <div class="col-lg-2 col-md-2 col-sm-12 m-0 p-0">@item.Amount</div>
                    <div class="col-lg-2 col-md-2 col-sm-12 m-0 p-0">@item.TotalAmount</div>
                    <div class="col-lg-3 col-md-3 col-sm-12 d-md-flex align-self-stretch">
                        <div class="row">
                            <div class="col-6 bg-light d-flex align-self-stretch align-items-center">
                                <p class="text-dark m-auto">Цена <b><span class="text-nowrap">@item.DisplayPrice.ToTwoDecimalPlaces() $</span> | <span class="text-nowrap">@item.DisplayPriceRu.ToTwoDecimalPlaces() р</span></b></p>
                            </div>
                            <div class="col-6 d-flex align-self-stretch align-items-center" style="background-color:#E0E0E0">
                                <p class="text-dark m-auto">Скидка <b><span class="text-nowrap">@item.DisplayDiscount.ToTwoDecimalPlaces() $</span> | <span class="text-nowrap">@item.DisplayDiscountRu.ToTwoDecimalPlaces() р</span></b></p>
                            </div>
                            <div class="col-12 bg-secondary d-flex align-self-stretch align-items-center">
                                <p class="text-white m-auto">Итого <b><span class="text-nowrap">@item.TotalPrice.ToTwoDecimalPlaces() $</span> | <span class="text-nowrap">@item.TotalPriceRu.ToTwoDecimalPlaces() р</span></b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                        <form method="post" asp-action="Delete">
                            <button type="submit" name="CartId" value="@item.Id" class="btn">
                                <span class="mdi mdi-close-circle-outline text-red icon-font-24px"></span>
                            </button>
                        </form>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <p class="text-center h3">В данный момент Ваша корзина пустая.</p>
    }
</div>
<div class="container">
    @await Component.InvokeAsync("CheckoutCart")
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/js/pages/cart.js" asp-append-version="true"></script>
    </environment>
}