﻿@*@model UserUpdateViewModel

<form method="post" asp-action="UpdateUserClient">
    <input asp-for="UserId" hidden />
    <div class="form-group">
        <label asp-for="ClientUserName"></label>
        <input asp-for="ClientUserName" class="form-control rounded-0" placeholder="Логин" autofocus="" />
        <span asp-validation-for="ClientUserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClientPassword"></label>
        <input asp-for="ClientPassword" class="form-control rounded-0" placeholder="Пароль" />
        <span asp-validation-for="ClientPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CityId"></label>
        <select class="form-control rounded-0" asp-for="CityId" asp-items="ViewBag.Cities" data-size="10" data-live-search="true" data-actions-box="true">
        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShopName"></label>
        <input asp-for="ShopName" class="form-control rounded-0" placeholder="Название торгового центра" />
        <span asp-validation-for="ShopName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control rounded-0" placeholder="Номер телефона" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control rounded-0" placeholder="Укажите вашу электронную почту" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-block btn-light rounded-0">Применить</button>
    </div>
</form>*@