﻿@model CheckoutCartVM

<form asp-action="OrderProducts" asp-controller="Cart" method="post" id="orderForm">
    <div class="row d-flex">
        <div class="col-lg-9 col-md-8 col-sm-12 mb-3 create-order">
            <div class="card rounded-0">
                <div class="card-body bg-light">
                    <div class="form-group">
                        <label asp-for="PackagingId" class="control-label"></label>
                        <select asp-for="PackagingId" asp-items="ViewBag.PackagingList" class="form-control rounded-0">
                            <option>Стандартная упаковка</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control rounded-0" rows="8" cols="40"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="button-hover" style="position: absolute; width: 100%; height: 100%; z-index: 999;"></div>
                        <button type="submit" class="btn btn-lg btn-basic btn-active btn-block" id="submitBtn" disabled>Оформить заказ <i class="mdi mdi-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 d-flex flex-column mb-3">
            <div class="form-group">
                <a target="_blank" href="@ViewData["DeliveryDetailsUri"]" class="btn btn-lg btn-outline-dark btn-block">Информация о доставке</a>
            </div>
            <div class="form-group">
                <a target="_blank" href="@ViewData["PaymentDetailsUri"]" class="btn btn-lg btn-outline-dark btn-block">Информация об оплате</a>
            </div>
            <p class="text-justify">
                Уважаемый партнер!
            </p>
            <p class="text-justify">
                Напоминаем вам, что оплата за товар ИЗ НАЛИЧИЯ должна быть произведена в течение 3 дней с момента оформления заказа. В случае неуплаты резерв будет автоматически расформирован.
            </p>
            <p class="text-justify">
                Предоплата за ПРЕДЗАКАЗ должна быть произведена в течение 7 дней с момента его оформления. После формирования резерва из предзаказа полная оплата за резерв должна быть внесена в течение 3 дней. В случае неуплаты резерв будет автоматически расформирован.
            </p>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="Accepted">
                    <label class="custom-control-label identity-label" asp-for="Accepted">Я ознакомился(лась) с условиями</label>
                    <span asp-validation-for="Accepted" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-center bg-light p-3 m-0 flex-grow-1 align-items-center">
                <p>
                    Дата формирования заказа:
                </p>
                <p class="h4">
                    @DateTime.Now.Date.ToString("dd.MM.yyyy")
                </p>
            </div>
        </div>
    </div>
</form>