﻿@model IEnumerable<KristaShop.Business.DTOs.BannerItemDTO>
<!-- Start Image Slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            if (i == 0)
            {
                <li data-target="#carouselExampleCaptions" data-slide-to="@i" class="active"></li>
            }
            else
            {
                <li data-target="#carouselExampleCaptions" data-slide-to="@i"></li>
            }
        }
    </ol>
    <div class="carousel-inner">
        @foreach (var item in Model) {
            <div class="carousel-item @(Model.First() == item ? "active" : "")">
                <a href="@item.Link">
                    <img src="@item.ImagePath?height=850" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <div class="banner">
                        <div class="banner-text">
                            <h1 class="caption" style="color: @item.TitleColor">@item.Title</h1>
                        </div>

                        <div class="banner-text-bg-border"></div>

                        <div class="banner-text-bg text-center d-flex flex-column justify-content-center">
                            <div class="description">
                                @Html.Raw(item.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- End Image Slider -->