﻿@model FooterViewModel
@{
    var isAuthenticated = (bool)ViewData["IsAuthenticated"];
}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 text-md-center text-center text-lg-left text-footer mb-sm-0 mb-md-0 mb-lg-5">
            <h3 class="mb-2 text-header-18px text-uppercase text-footer footer-middle-section-header"><div style="height: 24px"></div></h3>
            <div class="pt-sm-0 pt-md-0 pt-lg-4  mb-4">
                <div class="my-2">
                    <a asp-controller="Category" asp-action="Index" class="link-basic-lighter text-uppercase">Категории</a>
                </div>
                <div class="my-2">
                    <a asp-controller="Catalog" asp-action="Index" asp-route-catalogUri="@Model.CatalogUri" class="link-basic-lighter text-uppercase">Каталоги</a>
                </div>
                <div class="my-2">
                    <a asp-controller="Contact" asp-action="Index" class="link-basic-lighter text-uppercase">Контакты</a>
                </div>
                <div class="my-2">
                    <a asp-controller="About" asp-action="Index" class="link-basic-lighter text-uppercase">О компании</a>
                </div>
                <div class="my-2">
                    <a asp-controller="Cooperation" asp-action="Index" class="link-basic-lighter text-uppercase">Условия сотрудничества</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 text-center mb-sm-0 mb-md-0 mb-lg-5">
            <div class="row d-flex flex-row justify-content-center">
                <div class="col-md-12 col-lg-5 mb-4 text-left p-0 px-1">
                    <div class="footer-middle-section">
                        <div class="footer-middle-section-header text-footer header text-uppercase">Новости компаниии</div>
                        <div class="py-3">
                            <a asp-controller="InstaBlog" asp-action="Index" class="btn btn-basic btn-main-outline-grey-transparent text-footer font-weight-bold w-100">Instagram Blog</a>
                        </div>
                        <div class="py-3">
                            <a asp-controller="Gallery" asp-action="Index" class="btn btn-basic btn-main-outline-grey-transparent text-footer font-weight-bold w-100">Krista Stories</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 p-0 m-auto footer-middle-section-logo-wrapper">
                    <div class="footer-middle-section-logo">
                        <img src="/img/svg/krista-pic-transparent.gif" style="max-width: 100%"/>
                    </div>
                </div>

                <div class="col-md-12 col-lg-5 mb-4 p-0 text-right px-1">
                    <div class="footer-middle-section section-right">
                        <div class="footer-middle-section-header text-footer header text-uppercase">Напишите нам</div>
                        @if (isAuthenticated) {
                            <div class="py-3">
                                <a class="btn btn-basic btn-main-outline-grey-transparent text-footer font-weight-bold w-100" data-toggle="ajax-modal" data-target="#feedbackContactsModal">
                                    Связь с руководством
                                </a>
                            </div>
                            <div class="py-3">
                                <a class="btn btn-basic btn-main-outline-grey-transparent text-footer font-weight-bold w-100 px-0" data-toggle="ajax-modal" data-target="#feedbackModal">
                                    Книга жалоб и предложений
                                </a>
                            </div>
                        } else {
                            <div class="py-3">
                                <a class="btn btn-basic btn-main-outline-grey-transparent text-footer font-weight-bold w-100 px-0" data-toggle="ajax-modal" data-target="#feedbackModal">
                                    Обратная связь
                                </a>
                            </div>
                            <div class="py-3">
                                <a class="btn btn-basic btn-main-outline-grey-transparent text-footer font-weight-bold w-100 px-0" asp-action="Index" asp-controller="Contact">
                                    Контакты
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 text-md-center text-center text-lg-right">
            <h3 class="mb-2 text-header-18px text-uppercase text-footer footer-middle-section-header">Социальные сети</h3>
            <div class="footer-social-networks-wrapper pt-sm-0 pt-md-0 pt-lg-3">
                <div class="text-left">
                    <div class="my-3 social-network">
                        <span class="logo icon icon-icomoon-instagram-outline icon-font-24px text-gradient px-2"></span>
                        <a href="@Model.InstagramLink" class="text link-basic-lighter text-uppercase">
                            Instagram подписаться
                        </a>
                    </div>
                    <div class="my-3 social-network">
                        <span class="logo icon icon-icomoon-facebook icon-font-24px text-gradient px-2"></span>
                        <a href="@Model.FacebookLink" class="text link-basic-lighter text-uppercase">
                            Facebook подписаться
                        </a>
                    </div>
                    <div class="my-3 social-network">
                        <span class="logo icon-icomoon-vk icon-font-24px text-gradient px-2" style="position: relative; bottom: -1px;"></span>
                        <a href="@Model.VkLink" class="text link-basic-lighter text-uppercase">
                            VK подписаться
                        </a>
                    </div>
                    <div class="my-3 social-network">
                        <span class="logo icon-icomoon-youtube icon-font-24px text-gradient px-2" style="position: relative; bottom: -1px;"></span>
                        <a href="@Model.YoutubeLink" class="text link-basic-lighter text-uppercase">
                            YouTube подписаться
                        </a>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.Contacts)) {
                    <div class="phones-section">
                        <div class="phone-logos">
                            <span class="icon icon-font-24px icon-icomoon-watsapp-outline text-gradient ml-2 mr-2"></span>
                            <span class="icon icon-font-24px icon-icomoon-phone-outline text-gradient"></span>
                        </div>
                        <div class="phone-numbers">
                            @Html.RemoveTags(Model.Contacts)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Copyright -->
<section class="copyright" style="flex-shrink: 0">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="text text-lg-left text-md-center text-center col-md-3 col-sm-12">
                <div class="text-white">
                    &copy; 2020 KRISTA UNIQUE
                </div>
            </div>
            <div class="text text-center col-md-6 col-sm-12">
                <div class="text-white">
                    Все права на изображения принадлежат <span class="text-active">KRISTA UNIQUE</span>, любое использование запрещено.
                </div>
            </div>
            <div class="text text-lg-right text-md-center text-center col-md-3 col-sm-12">
                <div class="text-white">
                    <a href="@Model.TermsOfUseUri" class="text-white">Политика конфиденциальности сайта krista.fashion</a>
                </div>
            </div>
        </div>
    </div>
</section>