﻿@model KristaShop.WebUI.Areas.Admin.Models.Filters.UsersFilter
<div id="accordion-user">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-auto mr-auto">
                    <a class="card-link" data-toggle="collapse" href="#collapseUserSearch">
                        <i class="fas fa-search"></i> Поиск
                    </a>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-info" type="button" onclick="ResetUserAllValues()">
                        <i class="fa fa-eraser"></i> Очистить
                    </button>
                </div>
            </div>
        </div>
        <div id="collapseUserSearch" class="collapse hide" data-parent="#accordion-user">
            <div class="card-body">
                <form id="users-filter-form">
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-4 col-lg-2">
                            <label asp-for="Login"></label>
                            <input type="text" asp-for="Login" class="form-control user-input" data-target-col="login" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-2">
                            <label asp-for="Person"></label>
                            <input type="text" asp-for="Person" class="form-control user-input" data-target-col="person" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-2">
                            <label asp-for="CityName"></label>
                            <input type="text" asp-for="CityName" class="form-control user-input" data-target-col="cityName" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-2">
                            <label asp-for="Phone"></label>
                            <input type="text" asp-for="Phone" class="form-control user-input" data-target-col="phone" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-2">
                            <label asp-for="MallAddress"></label>
                            <input type="text" asp-for="MallAddress" class="form-control user-input" data-target-col="mallAddress" />
                        </div>
                        <div class="form-group col-sm-12 col-md-2 col-lg-1">
                            <label asp-for="Status"></label>
                            <select asp-for="Status" asp-items="Html.GetEnumSelectList<UserStatus>()" class="selectpicker form-control show-menu-arrow" data-size="10" data-live-search="true" data-actions-box="true" data-target-col="status">
                                <option value="">Все</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-2 col-lg-1">
                            <label asp-for="CartStatus"></label>
                            <select asp-for="CartStatus" class="selectpicker form-control show-menu-arrow" data-size="10" data-live-search="true" data-actions-box="true" data-target-col="cartStatus">
                                <option value="">Все</option>
                                <option value="true">Есть</option>
                                <option value="false">Нет</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-4 col-lg-3">
                            <label asp-for="LastSignInFrom"></label>
                            <div class="input-group user-input date" id="lastSignInFromPicker" data-target-input="nearest" data-datetime-picker>
                                <input asp-for="LastSignInFrom" type="text" class="form-control datetimepicker-input" data-target="#lastSignInFromPicker" data-target-range-col="lastSignIn" data-target-range-type="from" />
                                <div class="input-group-append" data-target="#lastSignInFromPicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-3">
                            <label asp-for="LastSignInTo"></label>
                            <div class="input-group user-input date" id="lastSignInToPicker" data-target-input="nearest" data-datetime-picker>
                                <input asp-for="LastSignInTo" type="text" class="form-control datetimepicker-input" data-target="#lastSignInToPicker" data-target-range-col="lastSignIn" data-target-range-type="to" />
                                <div class="input-group-append" data-target="#lastSignInToPicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>