﻿@using KristaShop.WebUI.Infrastructure
@await Html.PartialAsync("_WysiwygHtmlPartial")
<style>
    .cke_combo_text.cke_combo_inlinelabel {
        width: auto;
    }

    .cke_combopanel {
        width: fit-content !important;
        width: -moz-fit-content !important;
        width: auto !important;
    }
</style>

<input hidden id="ckeditor-scripts-version" value="@Html.GetFileVersion()"/>
<script src="~/lib/ckeditor/ckeditor.js" asp-append-version="true"></script>
<script src="~/lib/ckeditor/lang/ru.js" asp-append-version="true"></script>
<script src="~/js/admin/ckeditor-config.js" asp-append-version="true"></script>