﻿<div class="d-none">
    <div class="social-networks-wrapper">
        <div class="col-12 p-0 allow-empty">
            <div class="bg-gradient-radial text-white d-block position-relative my-3">
                <div class="row py-4">
                    <div class="col-12 col-sm-3 d-flex justify-content-center my-2">
                        <div>
                            <div class="d-flex justify-content-center">
                                <a href="https://-" class="bg-gradient-backwards rounded-circle d-flex align-items-center justify-content-center mx-3 text-decoration-none text-white" style="width: 50px; height: 50px;">
                                    <span class="icon icon-icomoon-instagram-outline icon-font-30px"></span>
                                </a>
                            </div>
                            <a href="https://-" class="link-decoration-none text-white">Подписаться</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 d-flex justify-content-center my-2">
                        <div>
                            <div class="d-flex justify-content-center">
                                <a href="https://-" class="bg-gradient-backwards rounded-circle d-flex align-items-center justify-content-center mx-3 text-decoration-none text-white" style="width: 50px; height: 50px;">
                                    <span class="icon icon-icomoon-facebook icon-font-30px"></span>
                                </a>
                            </div>
                            <a href="https://-" class="link-decoration-none text-white">Подписаться</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 d-flex justify-content-center my-2">
                        <div>
                            <div class="d-flex justify-content-center">
                                <a href="https://-" class="bg-gradient-backwards rounded-circle d-flex align-items-center justify-content-center mx-3 text-decoration-none text-white" style="width: 50px; height: 50px;">
                                    <span class="icon icon-icomoon-vk icon-font-30px"></span>
                                </a>
                            </div>
                            <a href="https://-" class="link-decoration-none text-white">Подписаться</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 d-flex justify-content-center my-2">
                        <div>
                            <div class="d-flex justify-content-center">
                                <a href="https://-" class="bg-gradient-backwards rounded-circle d-flex align-items-center justify-content-center mx-3 text-decoration-none text-white" style="width: 50px; height: 50px;">
                                    <span class="icon icon-icomoon-youtube icon-font-30px"></span>
                                </a>
                            </div>
                            <a href="https://-" class="link-decoration-none text-white">Подписаться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="person-card-wrapper">
        <div class="contacts-card bg-gradient-radial my-2 m-auto m-md-0 width-auto width-smx-fit-content allow-empty">
            <div class="diamond-bg"></div>
            <div class="two-halfs-block revert width-auto two-row md-one-row p-3">
                <div class="left-wrapper pr-0 pr-md-4" style="z-index: 999">
                    <img src="/galleryphotos/nophoto.png" class="img-max-width" width="300" height="300" />
                </div>
                <div class="right-wrapper align-items-start text-left">
                    <div class="card-data text-white font-size-18">
                        <div class="header title text-header-18px bold">Должность</div>
                        <div class="name">ФИО</div>
                        <div class="two-halfs-block revert width-auto two-row smx-one-row my-3">
                            <div class="left-wrapper justify-content-start align-items-start text-header-18px bold">Телефон:</div>
                            <div class="right-wrapper justify-content-start">
                                <div class="two-halfs-block revert width-auto two-row lg-one-row">
                                    <div class="left-wrapper">
                                        <div class="mr-3">
                                            <div>Номер телефона</div>
                                            <div>Номер телефона</div>
                                        </div>
                                    </div>
                                    <div class="right-wrapper">
                                        <div class="d-flex flex-row justify-content-between mt-3 mt-lg-0">
                                            <span class="bg-gradient-backwards rounded-circle d-flex align-items-center justify-content-center mx-2 mx-sm-3 link-decoration-none text-white" style="width: 35px; height: 35px;">
                                                <span class="icon icon-icomoon-telegram-outline icon-font"></span>
                                            </span>
                                            <span class="bg-gradient-backwards rounded-circle d-flex align-items-center justify-content-center mx-2 mx-sm-3 link-decoration-none text-white" style="width: 35px; height: 35px;">
                                                <span class="icon icon-icomoon-watsapp-outline icon-font"></span>
                                            </span>
                                            <span class="bg-gradient-backwards rounded-circle d-flex align-items-center justify-content-center mx-2 mx-sm-3 link-decoration-none text-white" style="width: 35px; height: 35px;">
                                                <span class="icon icon-icomoon-viber-outline icon-font"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <a class="btn btn-basic btn-main-outline-grey-transparent text-footer font-weight-bold w-100 px-0" data-toggle="ajax-modal" data-target="#feedbackModal">
                                Написать
                            </a>
                        </div>
                        <div>
                            <div class="title title text-header-18px bold">Электронная почта отдела продаж:</div>
                            <div>email</div>
                        </div>
                        <div>
                            <div class="title text-header-18px bold">По вопросам рекламы и коммерции:</div>
                            <div>email</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="content-with-fullscreen-image-wrapper">
        <div class="col-12">
            <div class="container mb-5">
                <div>
                    Текст
                </div>
            </div>
            <div class="image-fullwidth-container">
                <div class="background-wrapper bg-basic">
                    <div class="background" style="background: url(/galleryphotos/nophoto.png) no-repeat; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-with-image-wrapper">
        <div class="col-12">
            <div class="container">
                <div>
                    Текст
                </div>
            </div>
            <div class="image-fullwidth-container">
                <div class="image-wrapper bg-basic">
                    <img class="image" src="none"/>
                </div>
            </div>
        </div>
    </div>
</div>