﻿@model VideoGalleryWithVideosDTO
@if (Model != null) {
    <!-- Video gallery -->
    <div class="container-fluid">
        <div class="row my-5">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
                <p class="text-uppercase text-center text-md-left text-lg-left text-xl-left text-main-header th1">
                    <a asp-action="Index" asp-controller="VideoGallery" class="link-decoration-none">
                        <span class="text-adaptive th0 text-adaptive-none-sm">Видеогалерея</span>
                    </a>
                </p>
            </div>
            @if (!string.IsNullOrEmpty(Model.Description)) {
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 border-left">
                    <div class="text-main">
                        <p>
                            @Html.Raw(Model.Description)
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1">
            @foreach (var video in Model.Videos) {
                <div class="col mb-2">
                    <div class="card mb-3 border-0 rounded-0 shadow h-100">
                        <div class="position-relative">
                            <div class="image-fix-height-wrapper">
                                <img class="card-img-top rounded-0 lazy image" data-src="@video.PreviewPath?width=480" alt="..." />
                            </div>  
                            <a class="d-block" data-toggle="video-modal" data-target="#videoModal" data-source="@video.VideoPath">
                                <div class="card-img-overlay cursor-pointer d-flex flex-column justify-content-center text-white">
                                    <span class="h3 card-text text-center text-overflow">
                                        <span class="icon icon-icomoon-youtube-button icon-font-35px icon-font-smx-150px text-gradient"></span>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="link-decoration-none cursor-pointer" data-toggle="video-modal" data-target="#videoModal" data-source="@video.VideoPath">@video.Title</a>
                            </h5>
                            <span class="card-text text-overflow card-description-text">
                                @Html.Raw(video.Description)
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row my-3">
            <div class="col text-center">
                <a asp-action="Index" asp-controller="VideoGallery" class="btn btn-lg btn-basic-fixed btn-main">Смотреть все видео</a>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Partials/_VideoModalPartial")
    <!-- Video gallery -->
}