﻿<div class="modal fade" id="confirmationDialogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <div class="row w-100">
                    <div class="col-1 col-sm-6 col-md-6 col-lg-6 px-1">

                    </div>
                    <div class="col-5 col-sm-3 col-md-3 col-lg-3 px-1">
                        <button type="button" class="btn btn-block btn-secondary btn-reject" data-dismiss="modal">Нет</button>
                    </div>
                    <div class="col-5 col-sm-3 col-md-3 col-lg-3 px-1">
                        <button type="button" class="btn btn-block btn-active btn-accept" data-callback="">Да</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>