﻿@inject KristaShop.Common.Interfaces.IFrontUserService userService
@{
    var user = userService.Get();
}
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-body">
                <ul class="nav nav-justified" id="feedbackTab" role="tablist">
                    @if (user != null) {
                        <li class="nav-item">
                            <a class="nav-link identity-link active text-uppercase" id="feedback-complaints-tab" data-toggle="tab" href="#feedback-complaints" role="tab" aria-controls="feedback" aria-selected="true" data-url="@Url.Action("GetWithFile", "Feedback")">Книга жалоб и предложений</a>
                        </li>
                    } else {
                        <li class="nav-item">
                            <a class="nav-link identity-link active text-uppercase" id="feedback-tab" data-toggle="tab" href="#feedback" role="tab" aria-controls="feedback" aria-selected="true" data-url="@Url.Action("Get", "Feedback")">Обратная связь</a>
                        </li>
                    }
                </ul>
                <div class="tab-content mt-5" id="feedbackTabContent">
                    @if (user != null) {
                        <div class="tab-pane fade show active" id="feedback-complaints" role="tabpanel" aria-labelledby="feedback-complaints-tab">

                        </div>
                    } else {
                        <div class="tab-pane fade show active" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">

                        </div>
                    }
                </div>
            </div>
            <div class="collapse rounded-0" id="collapseExample">
                <div class="modal-footer text-center text-white bg-active rounded-0 m-auto p-3">

                </div>
            </div>
        </div>
    </div>
</div>
@if (user != null) {
    <div class="modal fade" id="feedbackContactsModal" tabindex="-1" role="dialog" aria-labelledby="feedbackContactsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-body">
                    <ul class="nav nav-justified" id="feedbackContactsTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link identity-link active text-uppercase" id="feedback-management-contacts-tab" data-toggle="tab" href="#feedback-management-contacts" role="tab" aria-controls="feedback" aria-selected="true" data-url="@Url.Action("GetManagementContacts", "Feedback")">Связь с руководством</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-5" id="feedbackContactsTabContent">
                        <div class="tab-pane fade show active" id="feedback-management-contacts" role="tabpanel" aria-labelledby="feedback-management-contacts-tab">

                        </div>
                    </div>
                </div>
                <div class="collapse rounded-0" id="collapseExample">
                    <div class="modal-footer text-center text-white bg-active rounded-0 m-auto p-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
}