﻿@model LoginViewModel
<div class="ajax-post-form">
    <form method="post" asp-action="Login" asp-controller="Account">
        <div class="ajax-post-form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="UserName" class="sr-only"></label>
                    <input asp-for="UserName" class="form-control rounded-0" placeholder="Логин" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Password" class="sr-only"></label>
                    <input asp-for="Password" class="form-control rounded-0" placeholder="Пароль" autocomplete="on"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-auto mr-auto">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input identity-checkbox" asp-for="RememberMe">
                            <label class="custom-control-label identity-label" for="RememberMe">Запомнить меня</label>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group">
                        <a class="text-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Забыл пароль</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-block btn-basic btn-active rounded-0">ВОЙТИ</button>
        </div>
    </form>
</div>
