﻿/* AJAX table images*/
td.details-control {
    background: url('/lib/datatables/images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/lib/datatables/images/details_close.png') no-repeat center center;
}

.hidden {
    display: none;
}

/* Basic image input customization*/
.image-upload > input {
    display: none;
}

.cart-not-empty {
    color: #000000;
    background-color: #EB5757;
}

.cart-notif {
    vertical-align: text-top;
    margin-right: -35px;
    font-size: 10px;
}