﻿@model SettingEditViewModel

<div class="modal fade" id="create-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create" data-ajax-method="post" data-ajax="true" data-ajax-failure="createError" data-ajax-success="createSuccess" data-ajax-update="result" id="create-form">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Новая запись</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Key" class="control-label"></label>
                        <input asp-for="Key" class="form-control form-control-sm" />
                        <span asp-validation-for="Key" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Value" class="control-label"></label>
                        <input asp-for="Value" class="form-control form-control-sm" />
                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control form-control-sm" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-primary btn-block">Подтвердить</button>
                </div>
            </form>
        </div>
    </div>
</div>