﻿@model SettingEditViewModel

<div class="modal fade" id="edit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Edit" data-ajax-method="post" data-ajax="true" data-ajax-failure="editError" data-ajax-success="editSuccess" data-ajax-update="result" id="edit-form">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Изменить запись</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" id="EditId" />
                    <div class="form-group">
                        <label asp-for="Key" class="control-label"></label>
                        <input asp-for="Key" id="EditKey" class="form-control form-control-sm" />
                        <span asp-validation-for="Key" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Value" class="control-label"></label>
                        <input asp-for="Value" id="EditValue" class="form-control form-control-sm" />
                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" id="EditDescription" class="form-control form-control-sm" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success btn-sm btn-block">Подтвердить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>