﻿@{
    ViewData["Title"] = "Настройки";
    var isRoot = (bool)ViewData["IsRoot"];
}

@if (isRoot) {
    <div>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#create-modal">
            <i class="fas fa-plus-circle"></i> Новая запись
        </button>
    </div>
    <partial name="_CreatePartial" />
    <partial name="_DeletePartial" />
}

<partial name="_EditPartial" />
<hr />
<table class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>№</th>
            <th>Ключ</th>
            <th>Значение</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/admin/Setting/Index.js" asp-append-version="true" type="text/javascript"></script>
}