﻿@model IEnumerable<KristaShop.Business.DTOs.CategoryDTO>

<div class="row p-2 bg-white h-100 align-self-start">
    <div class="col-12">
        <p class="h4 text-center my-3">Категории платьев</p>
        <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 mb-2">
                        <a class="btn btn-block btn-light" target="_blank" href="@Url.Action("Products", "Catalog", new
                        {
                            CategoryIds = new List<Guid> { item.Id }
                        })">@item.Name</a>
                    </div>
                }
        </div>
    </div>
</div>