﻿@model MenuContentDTO
<div class="container">
    <div class="row my-3">
        <div class="col-12 mb-5">
            @if (!string.IsNullOrEmpty(Model.TitleIconPath)) {
                <div class="two-halfs-block">
                    <div class="right-wrapper icon">
                        <img src="@Model.TitleIconPath?height=60" height="60" />
                    </div>
                    <div class="left-wrapper justify-content-start px-2">
                        <h1 id="@Model.GetActionName()" class="text-black p-2 my-2 text-main-header font-weight-normal">@Model.Title</h1>
                    </div>
                </div>
            } else {
                <h1 id="@Model.GetActionName()" class="text-black p-2 my-2 text-main-header font-weight-normal">@Model.Title</h1>
            }

            @Html.Raw(Model.Body)
        </div>
    </div>
</div>