﻿@model MenuContentDTO
<div class="row my-2 mb-4">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-2">
                    @if (!string.IsNullOrEmpty(Model.TitleIconPath)) {
                        <div class="two-halfs-block">
                            <div class="right-wrapper icon">
                                <img src="@Model.TitleIconPath?height=60" height="60"/>
                            </div>
                            <div class="left-wrapper justify-content-start px-2">
                                <h1 id="@Model.GetActionName()" class="text-black p-2 text-main-header font-weight-normal">@Model.Title</h1>
                            </div>
                        </div>
                    } else {
                        <h1 id="@Model.GetActionName()" class="text-black py-2 m-0 text-main-header font-weight-normal">@Model.Title</h1>
                    }

                </div>
            </div>
        </div>
    </div>
    @Html.Raw(Model.Body)
</div>