﻿@model MenuContentDTO
<div class="dynamic-page">
    <div class="container-fluid dynamic-page-content p-0">
        @Html.PartialAsync(Model.Layout, Model)
    </div>
</div>

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/pages/dynamic-pages.css" asp-append-version="true" />
    </environment>
    <environment include="Production, Staging">
        <link rel="stylesheet" href="~/css/min/pages.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/pages/dynamic-pages.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production, Staging">
        <script src="~/js/min/dynamic-pages.min.js" asp-append-version="true"></script>
    </environment>
}