﻿@model GalleryItemViewModel
@{
    ViewData["Title"] = "Галерея - Изменить запись";
}

@section Styles{
    <style>
        .image-upload > input {
            display: none;
        }
    </style>
}
<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <a asp-action="Index">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Назад к списку
                    </a>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div class="form-row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Order" />
                        <div class="col-3 d-flex justify-content-center">
                            <div class="image-upload">
                                <label asp-for="Image">
                                    @if (string.IsNullOrEmpty(Model.ImagePath))
                                    {
                                        <img id="Image-img" src="~/galleryphotos/nophoto.png?width=250" class="img-fluid img-thumbnail" />
                                    }
                                    else
                                    {
                                        <img id="Image-img" src="@Model.ImagePath?width=250" class="img-fluid img-thumbnail" />
                                    }
                                </label>
                                <input asp-for="Image" type="file" />
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="IsVisible">
                                    <label class="custom-control-label" asp-for="IsVisible"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control form-control-sm" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control form-control-sm html-editor" rows="5" cols="40"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LinkText" class="control-label"></label>
                                <input asp-for="LinkText" class="form-control form-control-sm" />
                                <span asp-validation-for="LinkText" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Link" class="control-label"></label>
                                <input asp-for="Link" class="form-control form-control-sm" />
                                <span asp-validation-for="Link" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block shadow">Подтвердить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_WysiwygScriptsPartial");
    }
    <script src="~/js/admin/Common/ImgUploader.js" asp-append-version="true" type="text/javascript"></script>
}