﻿.about-container {
    width: auto;
    min-height: 500px;
    max-height: 1186px;
}

.block {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    text-shadow: 0 1px 2px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    border-radius: 23px;
    color: #ffffff;
    padding: 0;
    max-width: 935px;
}

.about-block-content {
    display: block;
    position: relative;
    border: 1px dashed rgba(255, 255, 255, 0.78);
    box-sizing: border-box;
    border-radius: 14px;
    margin: 23px;
    max-height: inherit;
}

.about-block-content-row {
    width: auto;
    height: inherit;
    margin: 20px;
}

.about-block-content-row-header {
    font-weight: 300;
    font-size: 50px;
    line-height: 117.5%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.about-block-content-row-text {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 117.5%;
    letter-spacing: 0.01em;
    max-height: 536px;
    overflow: hidden;
}

@media (max-width: 500px) {
    .about-block-content-row .btn-about {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 470px) {
    .about-block-content-row-text {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .about-block-content-row-header {
        font-size: 40px;
    }

    .about-block-content-row-text {
        font-size: 12px;
    }

    .about-block-content {
        margin: 11px 0;
        width: inherit;
    }
}
