﻿.bg-active {
    background-color: #784AAB !important;
}

.bg-active-brighter {
    background-color: #754DF0 !important;
}

.bg-gradient {
    background: linear-gradient(135deg, #7DE2FD 0%, #7A00F3 42.71%, #772684 100%);
}

.bg-gradient-backwards {
    background: linear-gradient(250.97deg, #7DE2FD 1.18%, #754DF0 80.06%, #772684 165.79%), #C4C4C4;
}

.bg-gradient-radial {
    background: radial-gradient(137.69% 301.28% at -24.08% 20.93%, #7DE2FD 0%, #754DF0 51.04%, #772889 100%);
}

.bg-gradient-revert {
    background: linear-gradient(259.79deg, #7DE2FD -13.52%, #754DF0 46.13%, #772684 107.03%), #754DF0;
    color: white;
    padding: 10px;
    width: auto;
    width: fit-content;
    width: -moz-fit-content;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 10px 0;
}

.bg-basic {
    background: #F2F2F2 !important;
}

.bg-gradient-image {
    background: url(/img/svg/banner-description-bg.svg) no-repeat;
    background-position: left top;
    background-position-y: -70px;
    width: 100%;
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    position: relative;
    max-width: 1920px;
}

.full-image {
    width: 100%;
    height: 400px;
}

/* --- Fonts/Texts --- */
.text-active {
    color: #784AAB;
}

.text-active-brigter {
    color: #754DF0;
}

.text-header-grey {
    color: #3F3E3E;
}

.text-main-grey {
    color: #8A8A8A;
}

.text-red {
    color: red;
}

.text-gradient {
    background: linear-gradient(179.49deg, #7DE2FD 0.44%, #754DF0 50%, #772684 99.55%, rgba(255, 255, 255, 0) 99.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-main {
    background: radial-gradient(101.8% 743.94% at -1.8% 0%, #7DE2FD 0%, #7A00F3 52.71%, #772684 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-main-header {
    background: radial-gradient(101.8% 743.94% at -1.8% 0%, #7DE2FD 0%, #7A00F3 52.71%, #772684 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    font-size: 50px;
    line-height: 63px;
}

    .text-main-header.th1 {
        font-size: 50px;
        line-height: 63px;
    }

    .text-main-header.th2 {
        font-size: 45px;
        line-height: 53px;
    }

    .text-main-header.h2 {
        font-size: 45px;
        line-height: 53px;
    }

    .text-main-header.th1 .text-adaptive {
        font-size: 8vw;
        line-height: normal;
    }

    .text-main-header.th1 .text-adaptive.th0 {
        font-size: 12vw;
        line-height: normal;
    }

    @media(min-width: 576px){
        .text-main-header.th1 .text-adaptive-sm.th1 {
            font-size: 8vw;
            line-height: normal;
        }

        .text-main-header .text-adaptive-none-sm {
            font-size: inherit !important;
            line-height: inherit !important;
        }
    }

    @media(min-width: 768px) {
        .text-main-header.th1 .text-adaptive-md.th1 {
            font-size: 7vw;
            line-height: normal;
        }

        .text-main-header .text-adaptive-none-md {
            font-size: inherit !important;
            line-height: inherit !important;
        }
    }

    @media(min-width: 992px) {
        .text-main-header.th1 .text-adaptive-lg.th1 {
            font-size: 6vw;
            line-height: normal;
        }

        .text-main-header .text-adaptive-none-lg {
            font-size: inherit !important;
            line-height: inherit !important;
        }
    }

.text-header-18px {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.085em;
}

.text-header-18px.bold {
    font-weight: bold;
    letter-spacing: 0.01em;
}

.text-nowrap {
    white-space: nowrap;
}

.text-line-through {
    text-decoration: line-through !important;
}

/* --- Buttons --- */
.btn-basic-fixed {
    width: 296px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    padding: 15px;
    font-size: 16px;
    line-height: 117.5%;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.btn-basic {
    border-radius: 5px;
    border-style: none;
    padding: 15px;
    font-size: 16px;
    line-height: 117.5%;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.btn-main {
    background: #000000;
}

.btn-main:hover {
    background: radial-gradient(101.8% 743.94% at -1.8% 0%, #7DE2FD 0%, #7A00F3 52.71%, #772684 100%);
    color: #ffffff;
}

.btn-main-white {
    color: #000000;
    background: #ffffff;
    text-shadow: none;
}

.btn-main-white:hover {
    background: radial-gradient(101.8% 743.94% at -1.8% 0%, #7DE2FD 0%, #7A00F3 52.71%, #772684 100%);
    color: #ffffff;
    text-shadow: none;
}

.btn-main.disabled, .btn-main:disabled {
    background: #BDBDBD;
    color: #ffffff;
    opacity: 1;
}

.btn-main-outline-grey-transparent {
    background: none;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    color: #ffffff;
    border-radius: 5px;
}

.btn-main-outline-grey-transparent:hover {
    background: radial-gradient(101.8% 743.94% at -1.8% 0%, #7DE2FD 0%, #7A00F3 52.71%, #772684 100%);
    color: #ffffff;
    text-shadow: none;
}

.btn-active-outline {
    background: #F2F2F2;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #000000;
}

.btn-active-outline:hover {
    background: #784AAB;
    color: #ffffff;
    border: 1px solid #784AAB;
}

.btn-active-outline-white {
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #000000;
}

.btn-active-outline-white:hover {
    background: #784AAB;
    color: #ffffff;
    border: 1px solid #784AAB;
    border-radius: 5px;
}

.btn-active-outline-white.active {
    background: #784AAB;
    color: #ffffff;
    border: 1px solid #784AAB;
    border-radius: 5px;
}

.btn-active-outline-white-shadow {
    background: #ffffff;
    border: none;
    color: #000000;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-active-outline-white-shadow:hover {
    background: #784AAB;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.btn-active-outline-white-shadow.active {
    background: #784AAB;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}


.btn-active-outline-black {
    background: #000000;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    border-radius: 5px;
}

.btn-active-outline-black:hover {
    background: #784AAB;
    color: #ffffff;
    border: 1px solid #784AAB;
}

.btn-active {
    background: #784AAB;
    color: #ffffff;
}

.btn-active:hover {
    background: #772684;
    color: #ffffff;
}

.btn-active.disabled {
    background: #784AAB;
    color: #ffffff;
    opacity: 1;
}

.btn-active-brighter {
    background: #754DF0;
    color: #ffffff;
    width: inherit;
    max-width: 265px;
}

.btn-active-brighter:hover {
    background: #784AAB;
    color: #ffffff;
}

.btn-active-brighter.disabled {
    background: #754DF0;
    color: #ffffff;
    opacity: 1;
}

.btn-filter {
    background: #F3F3F3;
    color: #323232;
}

.btn-filter:hover {
    background: #000000;
}

.btn-filter-light {
    background: #F2F2F2;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    color: #000000;
}

.btn-filter-light:hover {
    background: #000000;
    color: #ffffff;
}

.active.btn-filter-light {
    background: #000000;
    color: #ffffff;
}

.btn-filter-dark {
    background: #000000;
    color: #ffffff;
}

.btn-instagram {
    background: radial-gradient(74.65% 548.41% at 16.17% 32.32%, #7000FF 0%, #D500A6 100%);
    color: #ffffff;
    margin: 10px 0;
    font-weight: 900;
}

.btn-instagram:hover {
    background: radial-gradient(74.65% 548.41% at 16.17% 32.32%, #4B00AA 0%, #7E0062 100%);
    color: #ffffff;
    font-weight: 900;
}

.btn-basic-fixed-icon {
    padding: 15px 0px 0px 0px;
}

.btn-basic-fixed-icon .btn-basic-fixed-icon-label {
    margin-right: 35px;
}

.btn-basic-fixed-icon .btn-basic-fixed-icon-img {
    position: absolute;
    margin-left: 8px;
    margin-top: -7px;
}

.btn-basic-icon {
    padding: 0;
    display: flex;
}

    .btn-basic-icon .logo {
        flex: 0 0 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 5px 5px 0px;
        height: inherit;
        text-align: center;
        padding-right: 5px;
    }

    .btn-basic-icon .text-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 5px 5px 0px;
        height: inherit;
        text-align: center;
    }

    .btn-basic-icon .text {
        display: inline-block;
        font-style: normal;
        text-align: center;
    }

.link-basic-lighter {
    color: #ffffff;
}

    .link-basic-lighter:hover {
        color: #784AAB;
        text-decoration: none;
    }

.link-basic {
    color: #000000;
}

.link-basic:hover {
    color: #784AAB;
    text-decoration: none;
}

.link-decoration-none {
    text-decoration: none;
}

.link-decoration-none:hover {
    text-decoration: none;
}

@media(max-width: 350px) {
    .btn-basic-fixed {
        width: auto;
        min-height: 50px;
        height: auto;
    }

    .btn-basic-fixed-icon .btn-basic-fixed-icon-img {
        display: none;
    }

    .btn-basic-fixed-icon .btn-basic-fixed-icon-label {
        margin: auto;
    }
}
/* --- end of buttons --- */


/* --- Fonts --- */

.text-header-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.text-header-basic {
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 63px;
    letter-spacing: 0.01em;
}

.font-size-18 {
    font-size: 18px;
}

.font-style-normal {
    font-style: normal !important;
}

@media(max-width: 350px) {
    .text-header-basic {
        font-size: 25px;
        line-height: 31px;
    }
}

/* --- Navigation panel --- */

.cart-not-empty {
    color: #000000;
    background-color: #EB5757;
}

/* --- Navigation panel buttons --- */

.btn-round {
    display: block;
    width: 46px;
    height: 46px;
    background: #FFFFFF;
    color: black;
    border-radius: 23px;
    position: relative;
}

.btn-round.active {
    color: #ffffff;
    background: #784AAB;
}

.btn-round .btn-round-content {
    width: 21px;
    height: 21px;
    margin: 12px;
    font-size: 21px;
    position: absolute;
}

/* --- Auth form --- */
.identity-checkbox:checked ~ .identity-label::before {
    color: white !important;
    background-color: #784AAB !important;
    border-color: #784AAB !important;
}

.identity-link {
    color: black;
}

.identity-link:hover {
    color: #784AAB;
    cursor: pointer
}

.identity-link.active {
    box-shadow: 0 5px 0 #784AAB;
}

/* --- Manager page radio buttons and checkbox --- */

.manager-checkbox:checked ~ .manager-checkbox-label::before {
    color: black !important;
    background-color: #784AAB !important;
    border-color: white !important;
}

.manager-radio:checked ~ .manager-radio-label::before {
    color: black !important;
    background-color: #784AAB !important;
    border-color: white !important;
}

/* --- Icon fonts settings --- */

.icon-font {
    font-size: 21px;
}

.icon-font-12px {
    font-size: 12px;
}

.icon-font-18px {
    font-size: 18.17px;
}

.icon-font-24px {
    font-size: 24px;
    line-height: 30px !important;
}

.icon-font-30px {
    font-size: 30px;
}

.icon-font-35px {
    font-size: 35px;
}

.icon-font-100px {
    font-size: 100px;
}

.icon-font-150px {
    font-size: 150px;
}


@media(min-width: 430px) {
    .icon-font-smx-35px {
        font-size: 35px;
    }

    .icon-font-smx-100px {
        font-size: 100px;
    }

    .icon-font-smx-150px {
        font-size: 150px;
    }
}

@media(min-width: 576px) {
    .icon-font-sm-35px {
        font-size: 35px;
    }

    .icon-font-sm-100px {
        font-size: 100px;
    }

    .icon-font-sm-150px {
        font-size: 150px;
    }
}

@media(min-width: 768px) {
    .icon-font-md-35px {
        font-size: 35px;
    }

    .icon-font-md-100px {
        font-size: 100px;
    }

    .icon-font-md-150px {
        font-size: 150px;
    }
}


@media(min-width: 992px) {
    .icon-font-lg-35px {
        font-size: 35px;
    }

    .icon-font-lg-100px {
        font-size: 100px;
    }

    .icon-font-lg-150px {
        font-size: 150px;
    }
}


/* --- Cursor --- */
.cursor-pointer {
    cursor: pointer !important;
}


/* --- Color image ---*/

.color-round {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}