@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon/icomoon.eot?6lpr1h');
    src: url('/fonts/icomoon/icomoon.eot?6lpr1h#iefix') format('embedded-opentype'), url('/fonts/icomoon/icomoon.ttf?6lpr1h') format('truetype'), url('/fonts/icomoon/icomoon.woff?6lpr1h') format('woff'), url('/fonts/icomoon/icomoon.svg?6lpr1h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icomoon-telegram-outline:before {
    content: "\e90f";
}

.icon-icomoon-viber-outline:before {
    content: "\e910";
}

.icon-icomoon-money:before {
    content: "\e908";
}

.icon-icomoon-diamond:before {
    content: "\e901";
}

.icon-icomoon-krista-logo:before {
    content: "\e905";
}

.icon-icomoon-phone:before {
    content: "\e906";
}

.icon-icomoon-watsapp:before {
    content: "\e907";
}

.icon-icomoon-cart:before {
    content: "\e900";
}

.icon-icomoon-instagram:before {
    content: "\63";
}

.icon-icomoon-magnify:before {
    content: "\e902";
}

.icon-icomoon-person:before {
    content: "\e903";
}

.icon-icomoon-star:before {
    content: "\e904";
}

.icon-icomoon-phone-outline:before {
    content: "\e90a";
}

.icon-icomoon-watsapp-outline:before {
    content: "\e90d";
}

.icon-icomoon-facebook:before {
    content: "\e909";
}

.icon-icomoon-instagram-outline:before {
    content: "\e90b";
}

.icon-icomoon-vk:before {
    content: "\e90c";
}

.icon-icomoon-youtube:before {
    content: "\e90e";
}

.icon-icomoon-zoom-in:before {
    content: "\e987";
}

.icon-icomoon-zoom-out:before {
    content: "\e988";
}

.icon-icomoon-checkmark:before {
    content: "\ea10";
}

.icon-icomoon-arrow-up:before {
    content: "\ea32";
}

.icon-icomoon-radio-checked:before {
    content: "\ea54";
}

.icon-icomoon-radio-checked2:before {
    content: "\ea55";
}

.icon-icomoon-youtube-button:before {
    content: "\25b6";
}