@media (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-row-gap: 15px;
        grid-column-gap: 30px;
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery__item--2 {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery__item--3 {
        grid-column-start: 7;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: -1;
    }

    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: -1;
    }

    .gallery__item--5 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: -1;
    }

    .gallery__item--6 {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: -1;
    }
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-item {
    color: #ffffff;
}

.gallery-item .description {
    color: #ffffff;
    text-align: center;
}

.gallery-item .description-caption {
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 63px;
}

.gallery-item .description-content {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 0;
    max-height: 75%;
    overflow: hidden;
}

.gallery-item-name {
    background: #000000;
    padding: 15px 22px;
    text-align: center;
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    max-width: -webkit-fill-available;
}

.gallery-item:hover .gallery-item-name {
    opacity: 0;
    transition: 1s;
}

.gallery-item-name .text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 117.5%;
    letter-spacing: 0.01em;
}

@media(min-width: 1600px) {
    .gallery-item .description-caption {
        font-size: 50px;
    }

    .gallery-item .description-content {
        font-size: 16px;
    }

}

@media(max-width: 1200px) and (min-width: 800px) {
    .gallery-item .description-caption {
        font-size: 26px;
        line-height: 33px;
    }

    .gallery-item .description-content {
        font-size: 13px;
    }
}

@media(max-width: 1700px) and (min-width: 600px) {
    .gallery-item .description-content {
        overflow-y: scroll;
    }
}

@media(max-width: 800px) and (min-width: 600px) {
    .gallery-item-name {
        text-align: center;
    }

    .gallery-item-name .text {
        font-size: 13px !important;
    }

    .gallery-item .description-caption {
        font-size: 20px;
        line-height: 25px;
    }

    .gallery-item .description-content {
        font-size: 13px;
    }
}

@media(max-width: 450px) {
    .gallery-item .description-caption {
        font-size: 30px;
        line-height: 45px;
    }

    .gallery-item .description-content {
        font-size: 13px;
    }
}

@media(max-width: 320px) {
    .gallery-item .description-caption {
        font-size: 20px;
        line-height: 20px;
    }

    .gallery-item .description-content {
        display: none;
    }
}

/* Item description scroll bar */
.gallery-item .description-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #101010;
    transition: 1s;
    opacity: 0.8;
}

.gallery-item .description-content::-webkit-scrollbar {
    width: 12px;
    background-color: #000000;
    border-radius: 10px;
    opacity: 0;
}

.gallery-item .description-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}