﻿/* Lightslider next/prev buttons */

.lSAction .lSPrev {
    background-image: url(../../img/libs/prev.png);
    background-size: cover;
    opacity: 1;
    background-position: center;
}

.lSAction .lSNext {
    background-image: url(../../img/libs/next.png);
    background-size: cover;
    opacity: 1;
    background-position: center;
}

/* Lightslider gallery active thumbnail selector*/

.lSPager.lSGallery li {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .lSPager.lSGallery li.active {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .lSPager.lSGallery li.active img {
        border-radius: 5px;
    }

    .lSPager.lSGallery li.active::before {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        width: inherit;
        max-width: 100px;
        height: 4px;
        background: linear-gradient(135deg, #7DE2FD 0%, #7A00F3 70%, #772684 100%);
        border-radius: 5px;
    }