﻿.personal-data-container {

}

.personal-data-container .title {
    font-size: 18px;
    line-height: 23px;
    color: #323232;
    text-transform: none;
}

/* --- Colors --- */

.balance-bg-color {
    background: #219653;
    color: #ffffff;
}

.balance-text-color {
    color: #219653;
}


/* --- Balance section --- */

.user-balance {
    height: 50px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    margin: 20px 0;
}

.user-balance .text-wrapper {
    flex: 0 0 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-balance .text {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
}

.user-balance .balance {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    height: inherit;
    text-align: center;
}

.user-balance .balance .text {
    font-weight: bold;
}