﻿.grecaptcha-badge {
    visibility: hidden;
}

p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Source Sans Pro', sans-serif;
}

.dynamic-page-content h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-style: normal;
}

.text-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.text-basic {
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 63px;
    color: #000000;
}

.text-black {
    color: #000000;
}

.text-white {
    color: #ffffff;
}

.swal2-container {
    margin-top: 70px;
}

.cart-notif {
    vertical-align: text-top;
    margin-right: -80px;
    font-size: 10px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    background-color: #F2F2F2;
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
    height: auto;
    background: transparent;
}

.content {
    flex: 1 0 auto;
}

.bg-dark {
    background-color: #000000 !important;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 50px;
}

.carousel-caption {
    right: 10%;
    left: auto;
    bottom: 5%;
}

.img-wrap {
    position: relative;
}

    .img-wrap p {
        position: absolute;
        left: 15%;
        top: 25%;
        width: 75%;
        text-align: justify;
    }

.banner {
    position: relative;
    display: block;
}

.banner-text-bg {
    background: url(/img/svg/banner-description-bg.svg) no-repeat;
    background-position: top left;
    width: 781px;
    height: 328px;
    position: relative;
}

.banner-text-bg-border {
    background: url(/img/svg/banner-description-border.svg) no-repeat;
    position: absolute;
    background-position: top left;
    width: 597px;
    height: 202px;
    right: 68px;
    bottom: 180px;
    z-index: 50;
}

.banner-text-bg .description-wrapper {
    padding: 20px;
}

.banner-text-bg .description {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 107.5%;
    text-align: left;
    width: 477px;
    margin: 80px auto auto 175px;
    z-index: 100;
}

.banner-text {
    position: relative;
}

.banner-text .caption {
    position: relative;
    left: 120px;
    top: 20px;
}

@media(max-width: 992px) {
    .banner {
        display: none;
    }
}

@media(max-width: 1100px) {
    .banner-text-bg {
        bottom: -100px;
    }

    .banner-text-bg-border {
        bottom: 80px;
    }

    .banner-text {
        bottom: -100px;
    }
}



.carousel-caption h1 {
    width: 60%;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 103%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.text-main {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 117.5%;
    /* or 19px */
    text-align: justify;
    letter-spacing: 0.01em;
    color: #8A8A8A;
}

.text-header {
    font-style: normal;
    font-weight: 300;
}

.block span {
        font-style: italic;
        font-size: 16px;
        line-height: 117.5%;
        text-align: justify;
        letter-spacing: 0.01em;
        color: #ffffff;
    }

@media (max-width: 576px) {
    .block span {
        font-style: italic;
        font-size: 11px;
        line-height: 117.5%;
        text-align: justify;
        letter-spacing: 0.01em;
        color: #ffffff;
    }
}

@media (max-width: 1400px) {
    iframe {
        height: 330px;
    }
}

@media (max-width: 1000px) {
    iframe {
        height: 460px;
    }

    .btn-gradient {
        border-radius: 100rem;
        padding: 1rem;
        font-size: 0.6rem;
        padding: .5rem 3rem;
        color: black;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
    }

    .btn-full-gradient {
        border-radius: 100rem;
        padding: 1rem;
        font-size: 0.6rem;
        padding: .5rem 3rem;
        color: white;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
}

/* Overlay */
.ovl {
    opacity: 0;
    transition: 1s;
}

    .ovl:hover {
        opacity: 0.8;
        background: #101010;
    }

/*.card-ovl:hover .ovl {
    opacity: 0.7;
    background: #17A2B8;
}*/

/*--- nav-bar ---*/
.nav-bar-logo-bg {
    background: url(/img/header-logo-background.png) no-repeat;
    background-position: top left;
}

.menu-logo {
    display: block;
    height: 250px;
    max-width: 280px;
    text-align: center;
}

.menu-logo .img-menu-logo {
    padding-top: 29%;
}


/* when navbar collapse*/
@media(max-width: 992px) {
    .menu-logo {
        display: none;
    }
}

/*=-footer-=*/
footer {
    color: #fff;
    background-attachment: fixed;
    background-color: #000;
    background-size: cover;
    background-position: bottom;
}

.footer {
    background-position: top center;
    background-color: #000;
    padding: 24px 20px 10px;
}

.text-footer {
    font-size: 18px;
}

.text-footer.header {
    letter-spacing: 0.085em;
}

.footer-middle-section {
    width: 262px !important;
}

.footer-middle-section.section-right {
    margin: auto 0 auto auto;
}

.footer-middle-section-logo-wrapper {
    display: block;
}

.footer-middle-section-logo {
    width: 96px;
    height: 89px;
    position: relative;
    top: -10px;
    margin: auto;
}

.footer-middle-section-header {
    margin-bottom: 26px;
    height: auto;
}

.footer-middle-section-text {
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
}

.footer-social-networks-wrapper {
    max-width: 230px;
    margin: auto 0 auto auto;
}

    .footer-social-networks-wrapper .social-network {

    }

    .footer-social-networks-wrapper .social-network .logo {
         display: inline-block;
         vertical-align: middle;
         height: 100%;
    }

    .footer-social-networks-wrapper .social-network .text {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

@media(max-width: 1300px) {
    .footer-middle-section-logo {
        width: 75px;
        height: 68px;
    }

    .footer-middle-section {
        width: 100% !important;
    }
}

@media(max-width: 1200px) {
    .footer-middle-section-logo-wrapper {
        display: none;
    }

    .footer-middle-section-header {
        height: 42px;
    }

    .footer-middle-section .btn-basic {
        height: 74px;
    }
}

@media(max-width: 1000px) {
    footer-middle-section-header {
        margin: 0;
    }

    .footer-middle-section.section-right {
        margin: auto;
    }

    .footer-middle-section {
        text-align: center;
        margin: auto;
    }
}

@media(max-width: 992px) {
    .footer-middle-section {
        width: 262px !important;
    }

    .footer-middle-section-header {
        height: auto;
        margin: auto;
    }

    .footer-social-networks-wrapper {
        margin: auto;
    }

    .footer-middle-section .btn-basic {
        height: 50px;
    }
}

@media(max-width: 350px) {
    .footer-middle-section {
        width: auto !important;
    }

    .footer-middle-section .btn-basic {
        height: auto;
    }
}

/* Phones section styles*/
.phones-section {
    display: flex;
    max-width: 230px;
    margin: auto;
}

    .phones-section .phone-logos {
        flex: 0 0 20%;
        display: flex;
        align-items: center;
        margin-right: 0;
    }

    .phones-section .phone-numbers {
        font-size: 17px;
        padding: 0 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/* --- end of footer --- */

.social-pet li {
    display: inline-block;
    margin-right: 10px;
}

    .social-pet li a {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        text-align: center;
        display: block;
        line-height: 35px;
        background-color: #3a5a95;
        color: #fff;
    }

    .social-pet li:nth-child(2) a {
        background-color: #57aced;
    }

    .social-pet li:nth-child(3) a {
        background-color: #dd4f43;
    }

    .social-pet li:nth-child(4) a {
        background-color: #6b27b2;
    }

    .social-pet li a:hover {
        background-color: #0141a2;
    }

        .social-pet li a:hover i {
            transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }

.recent-post li {
    display: block;
    color: #ccc;
    margin-bottom: 25px;
}

    .recent-post li label {
        float: left;
        border: 2px solid #ccc;
        padding: 1px 7px;
        text-align: center;
    }

        .recent-post li label span {
            color: #fff;
        }

footer .input-group-addon {
    background-color: #0141a2;
    padding: 10px;
}

.f-address li {
    display: inline;
}

    .f-address li i {
        color: #a9242b;
        font-size: 18px;
    }

    .f-address li a {
        color: #ccc;
    }
/*=-Copyright-=*/
.copyright {
    font-size: 12px;
    padding: 20px 0 7px;
}

@media (max-width: 900px) {
    .copyright .text {
        padding-top: 10px;
    }
}

.img .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0.5;
}

    .img .btn:hover {
        background-color: black;
    }

.img-container-block {
    text-align: center;
}

.img-container-inline {
    text-align: center;
    display: block;
}

.img-selector {
    margin-bottom: 6px;
    margin-right: 3px;
}

.dropdown-cart:hover > .dropdown-menu-cart {
    display: block;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    margin: 0;
    padding: 0;
}

    .mega-dropdown-menu > li > div > ul > li > a {
        color: white;
    }

    .mega-dropdown-menu > li ul > li > a:hover,
    .mega-dropdown-menu > li ul > li > a:focus {
        text-decoration: none;
    }

.card-description-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 117.5%;
    letter-spacing: 0.01em;
}

/* --- Image classes --- */

.card-img-min-height {
    height: auto;
}

.img-max-width {
    max-width: 100%;
    height: auto;
}

.img-cover {
    object-fit: cover;
    -o-object-fit: cover;
}

.image-fix-height-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

    .image-fix-height-wrapper .image {
        width: 100%;
        height: auto;
        position: absolute;
    }

    .image-fix-height-wrapper.ratio150 {
        padding-bottom: 150%;
        /* 👆 image aspect ratio: image (height / width * 100%) */
    }

    .image-fix-height-wrapper.ratio75 {
        padding-bottom: 75%;
    }
/*
    bootstrap cols 
    
    media min-width:
    xl - 1200
    lg - 992
    md - 768
    sm - 576

    my:
    smx - 430
*/
.p-5px {
    padding: 5px;
}

@media(min-width: 992px) {
    .col-lg-3-larger {
        -ms-flex: 0 0 28%;
        flex: 0 0 28%;
        max-width: 28%;
    }

    .col-lg-9-larger {
        -ms-flex: 0 0 72%;
        flex: 0 0 72%;
        max-width: 72%;
    }

    .mb-lg-4-bigger {
        margin-bottom: 2.5rem !important;
    }
}

.container-fluid-max-width {
    max-width: 1580px;
}


.row-max-width {
    max-width: 1320px;
}

.card-img-top.horizontal-image {
    max-height: 630px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}


@media(min-width: 2000px) {
    .container-fluid-max-width {
        max-width: 1980px;
    }

    .row-max-width {
        max-width: 1620px;
    }

    .card-img-top.horizontal-image {
        max-height: 930px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.card .close {
    position: absolute;
    right: 3px;
    top: 0;
    cursor: pointer;
}

.card .close button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.two-halfs-block {
    width: 100%;
    display: flex;
}

    .two-halfs-block .left-wrapper {
        flex: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }

    .two-halfs-block .left-wrapper.main {
        justify-content: flex-end;
    }

    .two-halfs-block .right-wrapper {
        flex: 0 0 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        text-align: center;
    }

    .two-halfs-block.revert .left-wrapper {
        flex: 0 0 25%;
    }

    .two-halfs-block.revert .right-wrapper {
        flex: 1;
    }

    .two-halfs-block.width-auto .right-wrapper {
        flex: 0 0 auto;
    }

    .two-halfs-block.revert.width-auto .left-wrapper {
        flex: 0 0 auto;
    }


    .two-halfs-block .right-wrapper.icon {
        flex: 0 0 5%;
    }

    .two-halfs-block .text {
        display: inline-block;
        text-align: center;
    }

    .two-halfs-block.two-row {
        display: block;
    }

    .two-halfs-block.one-row {
        display: flex;
    }

    .two-halfs-block .right-wrapper.wrapper-3 {
        flex: 0 0 30%;
    }

    .two-halfs-block .right-wrapper.wrapper-8 {
        flex: 0 0 80%;
    }


    .width-fit-content {
        width: auto;
        width: fit-content;
    }

    .width-auto {
        width: auto
    }

    @media(min-width: 430px) {
        .two-halfs-block.smx-two-row {
            display: block;
        }

        .two-halfs-block.smx-one-row {
            display: flex;
        }

        .justify-content-smx-start {
            -ms-flex-pack: start !important;
            justify-content: flex-start !important;
        }

        .width-smx-fit-content {
            width: auto;
            width: fit-content;
        }

        .width-smx-auto {
            width: auto
        }
    }

    @media(min-width: 576px) {
        .two-halfs-block.sm-two-row {
            display: block;
        }

        .two-halfs-block.sm-one-row {
            display: flex;
        }

        .width-sm-fit-content {
            width: auto;
            width: fit-content;
        }

        .width-sm-auto {
            width: auto
        }
    }

    @media(min-width: 768px) {
        .two-halfs-block.md-two-row {
            display: block;
        }

        .two-halfs-block.md-one-row {
            display: flex;
        }

        .width-md-fit-content {
            width: auto;
            width: fit-content;
        }

        .width-md-auto {
            width: auto
        }
    }


    @media(min-width: 992px) {
        .two-halfs-block.lg-two-row {
            display: block;
        }

        .two-halfs-block.lg-one-row {
            display: flex;
        }

        .width-lg-fit-content {
            width: auto;
            width: fit-content;
        }

        .width-lg-auto {
            width: auto
        }
    }


.max-width-none {
    max-width: none;
}

@media(min-width: 1200px) {
    .max-width-xl-280px {
        max-width: 280px;
    }
}

@media(min-width: 768px) {
    .modal .modal-fullscreen-md {
        max-width: 80%;
        margin: auto;
    }
}


@media(min-width: 992px) {
    .modal .modal-fullscreen-lg {
        max-width: 80%;
        margin: auto;
    }
}