﻿.youtube-background {
    height: 220px;
    margin: 20px 15px 10px 15px;
    background: radial-gradient(101.8% 743.94% at -1.8% 0%, #7DE2FD 0%, #7A00F3 52.71%, #772684 100%);
    border-radius: 5px;
}

.btn-youtube {
    width: 358.2px;
    max-width: 358.2px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.075em;
    margin: 11.5px;
    display: block;
    background: none;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.btn-youtube:hover {
    background: #ffffff;
    color: #7816B2;
    border: none;
}

.youtube-buttons-block {
    position: relative !important;
    width: inherit;
}

.youtube-krista-icon {
    height: 123px;
    width: 332px;
    position: relative;
    text-align: center;
}

.youtube-krista-icon-background {
    width: 123px;
    height: 123px;
    border-radius: 50%;
    background: #000000;
    position: relative;
    display: inline-block;
}

.youtube-krista-icon-background .youtube-krista-icon-image {
    padding: 29px 24px;
    position: absolute;
}

.youtube-krista-icon-image-img {
    height: 68px;
    width: 75px;
}

.youtube-krista-icon-text {
    height: 123px;
    display: inline-block;
    vertical-align: top;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    letter-spacing: 0.075em;
}

.youtube-text-block {
    margin: 10px;
}

.youtube-text-block-image {
    width: 415px;
}

.youtube-watch-text-block-image {
    width: 404px;
}

.youtube-two-row-text {
    text-transform: uppercase;
    text-align: justify;
    font-weight: 900;
}

    .youtube-two-row-text .top-row {
        font-size: 44px;
        text-align: center;
        width: 100%;
    }

    .youtube-two-row-text .bottom-row {
        font-size: 32.3px;
        letter-spacing: 0.04em;
        text-align: center;
        width: 100%;
    }

@media (max-width: 1800px) {
    .youtube-text-block-image, .youtube-watch-text-block-image {
        width: 370px;
    }

    .youtube-buttons-block {
        width: 370px;
    }
}

@media (max-width: 1600px) and (min-width: 900px) {
    .youtube-block-min-width {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .youtube-background {
        height: 320px;
    }
}

@media (max-width: 900px) {
    .youtube-background {
        height: 606px;
    }

    .btn-youtube {
        width: inherit;
        max-width: 370px;
        margin: 11.5px 0;
        font-size: medium;
    }

    .youtube-text-block-image, .youtube-watch-text-block-image {
        width: 370px;
    }

    .youtube-block-min-width {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 460px) {
    .youtube-krista-icon-text {
        font-size: 25px;
    }
}

@media (max-width: 430px) {
    .btn-youtube {
        height: auto;
    }

    .youtube-text-block-image, .youtube-watch-text-block-image {
        width: auto;
    }

    .youtube-buttons-block {
        width: auto;
    }

    .youtube-two-row-text .top-row {
        font-size: 30px;
    }

    .youtube-two-row-text .bottom-row {
        font-size: 22px;
    }

    .youtube-krista-icon-text {
        display: block;
    }
}

@media (max-width: 350px) {
    .youtube-two-row-text .top-row {
        font-size: 18px;
    }

    .youtube-two-row-text .bottom-row {
        font-size: 13.3px;
    }

    .youtube-krista-icon-text {
        font-size: 20px;
    }
}

@media(max-width: 250px) {
    .btn-youtube {
        font-size: smaller;
    }

    .youtube-two-row-text .top-row {
        font-size: 12px;
    }

    .youtube-two-row-text .bottom-row {
        font-size: 8.8px;
    }

    .youtube-krista-icon-text {
        font-size: 15px;
    }
}