﻿@model VideoViewModel
@{
    ViewData["Title"] = "Блог - Удалить запись";
}

<div class="col-auto">
    <a asp-action="Index" asp-route-galleryId="@Model.FromGalleryId">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Назад к списку
    </a>
</div>
<hr />
<h3 class="text-danger">Вы уверены что хотите удалить данные?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreviewPath)
        </dt>
        <dd class="col-sm-10">
            <img id="Image-img" src="@Model.PreviewPath?width=250" class="img-fluid img-thumbnail" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
    </dl>

    <form asp-action="DeleteVideo">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="FromGalleryId" name="GalleryId"/>
        <button type="submit" class="btn btn-danger btn-block col-4">Удалить</button>
    </form>
</div>