﻿@{
    ViewData["Title"] = "Видео - Список";
    var galleryId = new Guid(ViewData["GalleryId"].ToString());
}

@section Styles {
    <link href="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
}

<div class="row mb-3">
    <div class="col-auto">
        <a asp-action="Create" asp-route-galleryId="@galleryId">Новая запись</a>
    </div>
    <div class="col-auto mr-auto"></div>
    <div class="col-auto">
        <a asp-action="Index" asp-controller="VideoGallery" asp-area="Admin" class="btn btn-sm btn-primary mr-1" type="button"><i class="fas fa-arrow-circle-left"></i> Назад</a>
    </div>
</div>
<hr />
<input type="hidden" id="GalleryId" value="@galleryId"/>
<div class="col-12 table-responsive">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Порядок</th>
                <th>Превью</th>
                <th>Заголовок</th>
                <th>Описание</th>
                <th><i class="fa fa-eye"></i></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js" type="text/javascript"></script>
    <script src="~/js/admin/video.js" asp-append-version="true" type="text/javascript"></script>
}