﻿@model IEnumerable<VideoGalleryDTO>
<ul class="dropdown-menu mega-dropdown-menu">
    <li class="container text-white text-center text-xl-left">
        <div class="col-xl-4 col-lg-4 col-md-12 d-none d-xl-block">
            <div class="bg-gradient menu-logo">
                <img src="~/img/logo.svg" class="img-menu-logo" width="180" />
            </div>
        </div>
        <div class="col-12 col-xl-3">
            <ul class="list-unstyled">
                @foreach (var item in Model.Take(6)) {
                    <li class="mb-3">
                        <a asp-controller="VideoGallery" asp-action="Details" asp-route-gallery="@item.Slug">
                            @item.Title
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-12 col-xl-3">
            <ul class="list-unstyled">
                @foreach (var item in Model.Skip(6)) {
                    <li class="mb-3">
                        <a asp-controller="VideoGallery" asp-action="Details" asp-route-gallery="@item.Slug">
                            @item.Title
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
</ul>