﻿@{
    ViewData["Title"] = "Главная страница";
}

@await Component.InvokeAsync("Slider")
@await Component.InvokeAsync("Catalog")
@await Component.InvokeAsync("Category")
@await Component.InvokeAsync("Gallery")
@await Component.InvokeAsync("Instagram")
@await Component.InvokeAsync("Youtube")
@await Component.InvokeAsync("VideoGallery")
@await Component.InvokeAsync("About")

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/about.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/youtube.css" asp-append-version="true"/>
    </environment>
}