﻿@model IEnumerable<KristaShop.Business.DTOs.CategoryDTO>
<!-- Start Categories -->
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
            <p class="text-uppercase text-center text-md-left text-lg-left text-xl-left text-main-header">
                <a asp-action="Index" asp-controller="Category" class="link-decoration-none">
                    Категории
                </a>
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 border-left">
            <div class="text-main">
                <p>
                    @Html.Raw(ViewBag.CategoryDesc)
                </p>
            </div>
        </div>
    </div>

    <div class="grid">
        @{
            int i = 0;
        }
        @foreach (var item in Model.Take(6)) {
            <div class="card text-white mb-3 card-ovl gallery-item gallery__item--@(++i) d-flex flex-column justify-content-center" >
                <img src="@item.ImagePath" class="gallery__img" alt="Image" href="#">
                <div class="gallery-item-name">
                    <div class="text">@item.Name</div>
                </div>
                <a style="display:block" href="@Url.Action("Products", "Catalog", new {CategoryIds = new List<Guid> { item.Id }})">
                    <div class="card-img-overlay ovl h-100 description d-flex flex-column justify-content-center">
                        <div class="description-caption">
                            @item.Name
                        </div>
                        <div class="description-content">
                            @Html.Raw(item.Description)
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="row">
        <div class="col text-center">
            <a asp-controller="Category" asp-action="Index" class="btn btn-lg btn-basic-fixed btn-main">
                Смотреть категории
            </a>
        </div>
    </div>
</div>
<!-- End Categories -->