﻿<!-- Modal -->
<div class="modal fade" id="VisCatalogsModal" tabindex="-1" role="dialog" aria-labelledby="VisCatalogsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Невидимость в каталогах</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="SetNonVisCatalogs" class="row"
                      data-ajax-method="post" data-ajax="true" data-ajax-failure="createError" data-ajax-success="createSuccess" data-ajax-update="result">
                    <input name="UserId" id="UserId" hidden />
                    <div class="form-group col">
                        <label for="Catalogs">Каталоги</label>
                        <select class="selectpicker form-control show-menu-arrow" multiple
                                data-size="10" data-live-search="true" data-actions-box="true"
                                title="Выберите из предложенного"
                                name="Catalogs" id="Catalogs" asp-items="ViewBag.Catalogs">
                        </select>
                    </div>
                    <button type="submit" class="btn btn-sm btn-block btn-success">Подтвердить</button>
                </form>
            </div>
        </div>
    </div>
</div>