﻿<!-- Modal -->
<div class="modal fade" id="LinkModal" tabindex="-1" role="dialog" aria-labelledby="LinkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Ссылки для входа</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="password-link">
                    <div class="form-group row">
                        <label class="col-form-label col-2">Ссылка для смены пароля</label>
                        <div class="col-7">
                            <input type="text" class="form-control form-control-sm" />
                        </div>
                        <div class="col-1">
                            <a href="#" class="btn btn-sm btn-info btn-block copy-link-btn" title="Копировать"><i class="fas fa-copy"></i></a>
                        </div>
                        <div class="col-2">
                            <a href="#" class="btn btn-sm btn-info btn-block generate-password-link-btn">Сгенерировать</a>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="sign-in-links"></div>
            </div>
        </div>
    </div>
    <div class="form-group row doc-link" style="display: none;">
        <label for="link" class="col-form-label col-2"></label>
        <div class="col-7">
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-1">
            <a href="#" class="btn btn-sm btn-info btn-block copy-link-btn" title="Копировать"><i class="fas fa-copy"></i></a>
        </div>
        <div class="col-2">
            <a href="#" name="gotolink" target="_blank" class="btn btn-sm btn-info btn-block">Перейти</a>
        </div>
    </div>
</div>