﻿@{
    ViewData["Title"] = "Пользователи";
}
<div class="row">
    <div class="col-auto m-2">
        <a asp-controller="Cart" asp-action="CartsReport" class="btn btn-sm btn-secondary" type="button">
            <i class="fa fa-shopping-cart"></i> Сводный отчет по корзинам
        </a>
    </div>
</div>

<partial name="_CatalogPartial" />
<partial name="_LinkPartial" />
<partial name="_SearchUserPartial" model="null"/>

<div class="col-12 table-responsive">
    <table class="table table-striped table-bordered text-break" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Логин</th>
                <th>ФИО клиента</th>
                <th>Город</th>
                <th>Телефон</th>
                <th>Название ТЦ</th>
                <th>Почта</th>
                <th>Статус</th>
                <th>Статус</th>
                <th><i class="fas fa-eye text-danger"></i> каталоги</th>
                <th>Последний вход</th>
                <th><i class="fas fa-shopping-cart text-secondary"></i></th>
                <th><i class="fas fa-shopping-cart text-secondary"></i></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/locale/ru.min.js"></script>
    <script src="~/js/admin/Identity/Index.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/admin/Common/datetime-picker.js" asp-append-version="true" type="text/javascript"></script>
}