﻿@model NavbarViewModel
<nav class="navbar navbar-expand-xl navbar-dark bg-dark nav-bar-logo-bg">
    <a class="navbar-brand " asp-action="Index" asp-controller="Home">
        <img src="~/img/svg/krista-logo.svg" width="80" class="d-inline-block align-top" alt="">
        <img src="~/img/svg/krista-pic.gif" width="38" class="d-inline-block align-top mx-2" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-sm-center text-center" id="navbarNav">
        <ul class="navbar-nav text ml-md-auto mx-md-auto ml-lg-auto mx-lg-auto">
            <li class="nav-item mr-lg-4 @Html.IsSelected(controller: "Home")">
                <a class="nav-link" asp-action="Index" asp-controller="Home">ГЛАВНАЯ</a>
            </li>
            <li class="nav-item mr-lg-4 @Html.IsSelected(controller: "Catalog") dropdown mega-dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown">КАТАЛОГ</a>
                @await Component.InvokeAsync("CatalogMenu")
            </li>
            <li class="nav-item mr-lg-4 @Html.IsSelected(controller: "VideoGallery") dropdown mega-dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown">ВИДЕОГАЛЕРЕЯ</a>
                @await Component.InvokeAsync("VideoGalleryMenu")
            </li>
            <li class="nav-item mr-lg-4 @Html.IsSelected(controller: "About") dropdown mega-dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown">О КОМПАНИИ</a>
                @await Component.InvokeAsync("DynamicPageMenu", new { controller = "About" })
            </li>
            <li class="nav-item mr-lg-4 @Html.IsSelected(controller: "Cooperation") dropdown mega-dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown">УСЛОВИЯ СОТРУДНИЧЕСТВА</a>
                @await Component.InvokeAsync("DynamicPageMenu", new { controller = "Cooperation" })
            </li>
            <li class="nav-item mr-lg-5 @Html.IsSelected(controller: "Contacts") dropdown mega-dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown">КОНТАКТЫ</a>
                @await Component.InvokeAsync("DynamicPageMenu", new { controller = "Contact" })
            </li>
        </ul>
        <div class="d-flex flex-row justify-content-center">
            @if (Model.IsManager) {
                <div class="mx-1">
                    <a asp-action="Index" asp-controller="Manager" class="navbar-text text-decoration-none" data-toggle="ajax-modal" data-target="#registerModal">
                        <i class="mdi mdi-cogs mdi-36px @Html.IsSelected(controller: "Manager", action: "Index", cssClass: "text-white")"></i>
                    </a>
                </div>
                <div class="mx-1">
                    <a asp-action="Logout" asp-controller="Account" class="navbar-text text-decoration-none">
                        <i class="mdi mdi-logout mdi-36px"></i>
                    </a>
                </div>
            } else if (string.IsNullOrEmpty(Model.ClientFullName)) {
                <div class="d-flex flex-column justify-content-center mx-1">
                    <a class="navbar-text" href="#" data-toggle="ajax-modal" data-target="#registerModal">
                        Авторизация
                    </a>
                </div>
                <div class="mx-1">
                    <a class="navbar-text text-decoration-none" href="#" data-toggle="ajax-modal" data-target="#registerModal">
                        <div class="btn-round">
                            <div class="btn-round-content">
                                <span class="icon-font icon-icomoon-person"></span>
                            </div>
                        </div>
                    </a>
                </div>
            } else {
                <div class="mx-1">
                    <a asp-action="Search" asp-controller="Catalog" class="navbar-text text-decoration-none">
                        <div class="btn-round @Html.IsSelected(controller: "Catalog", action: "Search")">
                            <div class="btn-round-content">
                                <span class="icon-font icon-icomoon-magnify"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mx-1">
                    <a asp-action="Index" asp-controller="Favorite" class="navbar-text text-decoration-none">
                        <div class="btn-round @Html.IsSelected(controller: "Favorite", action: "Index")">
                            <div class="btn-round-content">
                                <span class="icon-font icon-icomoon-star"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mx-1">
                    <a class="navbar-text text-decoration-none" href="#" data-toggle="dropdown" aria-expanded="false">
                        <div class="btn-round @Html.IsSelected(controller: "Personal")">
                            <div class="btn-round-content">
                                <span class="icon-font icon-icomoon-person"></span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right p-4 m-2 text-center">
                        <p class="text-nowrap">@Model.ClientFullName</p>
                        <a asp-action="Orders" asp-controller="Personal" class="btn btn-block btn-active"><i class="mdi mdi-settings mr-2"></i> Личный кабинет</a>
                        <p class="text-nowrap my-3"><b>Свяжитесь с нами</b></p>
                        <p>
                            +996 777 438 992
                            <br />
                            contact@krista.fashion
                            <br />
                            www.krista.fashion
                        </p>
                        <a asp-action="Logout" asp-controller="Account" class="btn btn-basic btn-active-outline btn-block">Выйти</a>
                    </div>
                </div>
                <div class="mx-1">
                    <a class="navbar-text text-decoration-none" asp-action="Index" asp-controller="Cart" target="_blank">

                        <div class="btn-round @Html.IsSelected(controller: "Cart", action: "Index")">
                            <div>
                                <div class="btn-round-content">
                                    <span class="icon-font icon-icomoon-cart"></span>
                                </div>
                                @if (Model.CartCount > 0) {
                                    <div style="position: absolute">
                                        <div class="badge cart-not-empty badge-pill cart-notif">@Model.CartCount</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-cart dropdown-menu-right p-4">
                        @if (Model.CartCount > 0) {
                            <p class="text-nowrap">Всего на сумму: @Model.Sum.ToTwoDecimalPlaces() $ | @Model.SumRu.ToTwoDecimalPlaces() Р</p>
                            <a asp-action="Index" asp-controller="Cart" target="_blank" class="btn btn-block btn-basic btn-active">Смотреть все товары в корзине</a>
                        } else {
                            <p class="text-nowrap m-0">В данный момент корзина пустая</p>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</nav>