﻿@model IEnumerable<KristaShop.Business.DTOs.BlogItemDTO>
<!-- Insta story -->
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
            <p class="text-uppercase text-center text-md-left text-lg-left text-xl-left text-main-header">
                <a asp-action="Index" asp-controller="InstaBlog" class="link-decoration-none">
                    Instagram blog
                    <span class="icon-font-35px icon-icomoon-instagram"></span>
                </a>
            </p>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 border-left">
            <div class="text-main">
                <p>
                    @Html.Raw(ViewBag.InstagramDesc)
                </p>
            </div>
        </div>
    </div>
    <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1 my-3">
        @foreach (var item in Model)
        {
            <div class="col mb-2">
                <div class="card mb-3 border-0 rounded-0 shadow h-100">
                    <a href="@item.Link" class="d-block" target="_blank">
                        <div class="image-fix-height-wrapper">
                            <img class="card-img-top rounded-0 lazy image" data-src="@item.ImagePath?width=480" alt="..." />
                        </div>  
                    </a>
                    <div class="card-body">
                        <span class="card-text text-overflow card-description-text">
                            @Html.Raw(item.Description)
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="@ViewData["InstagramLink"]" target="_blank" class="btn btn-lg btn-basic-fixed btn-instagram btn-basic-fixed-icon">
                <span class="btn-basic-fixed-icon-label">
                    <span>Подпишись на наш Инстаграм</span>
                    <span class="icon-font-35px icon-icomoon-instagram btn-basic-fixed-icon-img"></span>
                </span>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <a asp-action="Index" asp-controller="InstaBlog" class="btn btn-lg btn-basic-fixed btn-instagram">Смотреть все публикации</a>
        </div>
    </div>
</div>
<!-- Insta story -->