﻿@using KristaShop.Common.Enums
@model NomFilterViewModel
@inject KristaShop.Common.Interfaces.IFrontUserService userService
@{
    ViewData["Title"] = $"Каталог - {Model.Catalog.Name}";
    var user = userService.Get();
}
<div class="container-fluid">
    <div class="form-row mt-4 mb-2">
        <div class="offset-xl-2 offset-lg-3 col-xl-2 col-lg-2 px-2">
            <h2 class="text-basic text-center text-md-center text-lg-left">
                Каталог
            </h2>
        </div>
        <div class="col-xl-8 col-lg-8 offset-0 offset-lg-3 offset-xl-0 text-center text-lg-left px-2">
            @foreach (var item in Model.Catalogs) {
                <a href="@Url.Action("Index", new
                         {
                             CatalogUri = item.Uri
                         })" class="btn @(item.Id == Model.Filter.CatalogId ? "btn-basic btn-active disabled " : "btn-basic btn-active-outline") mr-2">
                    @item.Name
                </a>
            }
        </div>
    </div>
    <div class="form-row">
        <div class="offset-xl-2 offset-lg-3 px-2 text-center text-justify text-md-center text-lg-left">
            @if (user == null) {
                <div class="two-halfs-block two-row lg-one-row">
                    <div class="left-wrapper text-main w-100">
                        <div class="d-block">
                            @Html.Raw(Model.Catalog.AdditionalDescription)
                        </div>
                    </div>
                    <div class="right-wrapper">
                        <button data-toggle="ajax-modal" data-target="#registerModal" data-target-tab="#register-tab" class="btn-lg btn-basic btn-main mb-3 mr-3">Зарегистрируйтесь и узнайте цену</button>
                    </div>
                </div>
            } else {
                <div class="text-main font-style-normal px-1">
                    @Html.Raw(Model.Catalog.AdditionalDescription)
                </div>
            }
        </div>
    </div>

    <div class="form-row">
        <div class="col-12 col-md-12 col-lg-3 col-xl-2">
            <form id="searchForm">
                <input type="text" name="CatalogUri" value="@Model.Filter.CatalogUri" hidden>
                @await Component.InvokeAsync("SearchPanel", new {
                    catalogId = Model.Catalog.Id,
                    searchingType = KristaShop.Common.Enums.SearchingType.Catalog,
                    filter = Model.Filter
                })
            </form>
        </div>
        <div class="col-12 col-md-12 col-lg-9 col-xl-10">
            <div class="row px-2 mb-2">
                <div class="col-12 col-lg-9">
                    <div class="btn-group bg-white rounded-0" role="group" aria-label="Basic example">
                        <a type="button" href="@Url.Action("Index", new
                                               {
                                                   Name = Model.Filter.Name,
                                                   CategoryIds = Model.Filter.CategoryIds,
                                                   ColorIds = Model.Filter.ColorIds,
                                                   SizeIds = Model.Filter.SizeIds,
                                                   CatalogUri = Model.Filter.CatalogUri,
                                                   PriceMin = Model.Filter.PriceMin,
                                                   PriceMax = Model.Filter.PriceMax,
                                                   OrderNew = true,
                                                   OrderPrice = false,
                                                   OrderColumn = Model.Filter.OrderColumn
                                               })"
                           class="btn rounded-0 mdi @(Model.Filter.OrderColumn.Equals("OrderNewAsc") ? "mdi-arrow-up-drop-circle-outline" : (Model.Filter.OrderColumn.Equals("OrderNewDesc") ? "mdi-arrow-down-drop-circle-outline" : ""))">Новизна</a>
                        @if (user != null) {
                            <a type="button" href="@Url.Action("Index", new
                                                   {
                                                       Name = Model.Filter.Name,
                                                       CategoryIds = Model.Filter.CategoryIds,
                                                       ColorIds = Model.Filter.ColorIds,
                                                       SizeIds = Model.Filter.SizeIds,
                                                       CatalogUri = Model.Filter.CatalogUri,
                                                       PriceMin = Model.Filter.PriceMin,
                                                       PriceMax = Model.Filter.PriceMax,
                                                       OrderNew = false,
                                                       OrderPrice = true,
                                                       OrderColumn = Model.Filter.OrderColumn
                                                   })"
                               class="btn rounded-0 mdi @(Model.Filter.OrderColumn.Equals("OrderPriceAsc") ? "mdi-arrow-up-drop-circle-outline" : (Model.Filter.OrderColumn.Equals("OrderPriceDesc") ? "mdi-arrow-down-drop-circle-outline" : ""))">Цена</a>
                        }
                    </div>
                </div>
                <div class="col-12 col-lg-3 mx-2 mx-md-0">
                    @if (Model.Catalog.OrderForm == (int) OrderFormType.Preorder && !Model.Catalog.IsOpen && Model.Catalog.CloseTime != null) {
                        <div class="d-flex flex-row justify-content-center" style="flex: none;">
                            <div class="d-block countdown-wrapper text-center bg-gradient text-white width-fit-content px-3 py-3">
                                <div>До закрытия раздела</div>
                                <ul class="countdown mb-0" data-countdown="@Model.Catalog.CloseTime.ToComputedString()" data-server-date="@DateTimeOffset.UtcNow.ToComputedString()" data-redirect-oncomplete="@Url.Action("Index", "Home")">
                                    @{ var time = Model.Catalog.CloseTime.Value.Subtract(DateTimeOffset.UtcNow);}
                                    <li><span class="days"> @time.Days.ToString("D2")</span><p class="days_text text-white">Дней</p></li>
                                    <li class="seperator">:</li><li><span class="hours"> <span class="px-1">@time.Hours.ToString("D2")</span></span><p class="hours_text text-white">Часов</p></li>
                                    <li class="seperator">:</li><li><span class="minutes"> <span class="px-1">@time.Minutes.ToString("D2")</span></span><p class="minutes_text text-white">Минут</p></li>
                                    <li class="seperator">:</li><li><span class="seconds"> <span class="px-1">@time.Seconds.ToString("D2")</span></span><p class="seconds_text text-white">Секунд</p></li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (Model.PageList.Any()) {
                <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-2 row-cols-1 px-3">
                    @foreach (var item in Model.PageList) {
                        <div class="col p-2">
                            <div class="card rounded-0 border-0 h-100">
                                <a href="@Url.Action("Product", "Catalog", new { NomId = item.NomId, CtlgUri = Model.Catalog.Uri, Page = Model.Page })">
                                    <div class="image-fix-height-wrapper ratio150">
                                        <img class="lazy image" data-srcset="@item.ImagePath?width=400&height=600 576w, @item.ImagePath?width=700&height=1050 768w, @item.ImagePath?width=400&height=600 992w" alt="@item.ImageAltText" />
                                    </div>
                                </a>
                                <div class="card-body p-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="m-0">
                                                @item.ItemName
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <a href="@Url.Action("Product", "Catalog", new { NomId = item.NomId, CtlgUri = Model.Catalog.Uri })"
                                               class="btn btn-basic btn-main rounded-0 btn-block">
                                                Подробнее
                                            </a>
                                        </div>
                                        @if (!Model.Catalog.IsOpen) {
                                            <div class="col-12">
                                                @{ var price = item.GetDefaultPriceWithDiscount(Model.Discount); }
                                                <p class="m-0"><b>@price.ToTwoDecimalPlaces() $ | @item.Exchange(price).ToTwoDecimalPlaces() р</b></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @Html.Pager(Model.PageList, page => Url.Action("Index", new {
                    page,
                    Name = Model.Filter.Name,
                    CategoryIds = Model.Filter.CategoryIds,
                    ColorIds = Model.Filter.ColorIds,
                    SizeIds = Model.Filter.SizeIds,
                    CatalogUri = Model.Filter.CatalogUri,
                    PriceMin = Model.Filter.PriceMin,
                    PriceMax = Model.Filter.PriceMax,
                    OrderNew = false,
                    OrderPrice = false,
                    OrderColumn = Model.Filter.OrderColumn
                }), new PagerOptions {
                    ClassToPagerContainer = "d-flex justify-content-center my-5",
                    TextToPreviousPage = "&larr;",
                    TextToNextPage = "&rarr;",
                    ClassToUl = "list-inline",
                    ClassToLi = "list-inline-item",
                    PageClass = "nopageclass text-decoration-none text-dark",
                    ClassToActiveLi = "niloclass",
                    TextForDelimiter = "|"
                })
            } else {
                <p class="text-center h3">По Вашему запросу в каталоге модели отсутствуют.</p>
            }

            <!-- End Catalogs -->
        </div>
    </div>
    @if (Model.Catalog.OrderForm == (int)OrderFormType.Preorder && !string.IsNullOrEmpty(Model.Catalog.PreviewPath) && !string.IsNullOrEmpty(Model.Catalog.VideoPath)) {
        <div class="form-row">
            <div class="col-12 mb-3">
                <div class="card mb-3 border-0 rounded-0 shadow">
                    <div class="position-relative">
                        <img src="@Model.Catalog.PreviewPath?height=850" class="card-img-top rounded-0 w-100 img-max-width img-cover" alt="..." style="max-height: 620px;">
                        <a class="d-block" data-toggle="video-modal" data-target="#videoModal" data-source="@Model.Catalog.VideoPath">
                            <div class="card-img-overlay cursor-pointer d-flex flex-column justify-content-center text-white">
                                <span class="h3 card-text text-center text-overflow">
                                    <i class="mdi mdi-youtube icon-font-100px icon-font-smx-150px text-gradient"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@await Html.PartialAsync("Partials/_VideoModalPartial")

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/countdown-timer.css" asp-append-version="true" />
    </environment>
}

@section Scripts {
    <script src="~/lib/epiksel-countdown/jquery.countdown.min.js" asp-append-version="true"></script>
    
    <environment include="Development">
        <script src="~/js/core/countdown-timer.js" asp-append-version="true"></script>
    </environment>
}
