﻿@model SearchCatalogViewModel
@{
    ViewData["Title"] = "Найденные модели";
    if (string.IsNullOrEmpty(ViewData["SearchTitle"]?.ToString())) {
        ViewData["SearchTitle"] = "Поиск по всем каталогам";
    }
    bool hasDescription = !string.IsNullOrEmpty(ViewData["SearchDescription"]?.ToString());
    bool hasAccess = (bool) ViewData["HasAccess"];
}

<div class="container p-2" method="get" asp-action="Products">
    <div class="form-row align-items-center my-3">
        @if (!hasDescription) {
            <div class="col-sm-12 col-lg-9 text-center text-lg-left">
                <h2 class="text-center text-md-left text-lg-left text-xl-left text-main-header">@ViewData["SearchTitle"]</h2>
            </div>
            <div class="col-sm-6 col-lg-3">
                <a type="button" href="@Url.Action("Search", new {
                                           Name = Model.Filter.Name,
                                           CategoryIds = Model.Filter.CategoryIds,
                                           ColorIds = Model.Filter.ColorIds,
                                           SizeIds = Model.Filter.SizeIds,
                                           SizeLineIds = Model.Filter.SizeLineIds,
                                           CatalogUri = Model.Filter.CatalogUri,
                                           PriceMin = Model.Filter.PriceMin,
                                           PriceMax = Model.Filter.PriceMax,
                                           OrderNew = false,
                                           OrderPrice = false,
                                           OrderColumn = Model.Filter.OrderColumn
                                       })"
                   class="btn btn-active btn-block btn-lg">
                    ПАРАМЕТРЫ ПОИСКА
                </a>
            </div>
        } else {
            <div class="row py-2">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
                    <h2 class="text-center text-md-left text-lg-left text-xl-left text-main-header">@ViewData["SearchTitle"]</h2>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 border-left">
                    <span class="text-main">
                        @Html.Raw(ViewData["SearchDescription"])
                    </span>
                </div>
            </div>
        }
    </div>
    @if (Model.SearchProducts.Count > 0) {
        foreach (var (item, index) in Model.SearchProducts.Select((value, i) => (value, i))) {
            @if (item.Catalog.IsOpen && hasDescription) {
                 <div class="row">
                     <div class="px-2 text-center text-justify text-md-center text-lg-left">
                         <div class="two-halfs-block two-row lg-one-row">
                             <div class="left-wrapper text-main">
                                 @Html.Raw(item.Catalog.AdditionalDescription)
                             </div>
                             <div class="right-wrapper wrapper-3">
                                 <button data-toggle="ajax-modal" data-target="#registerModal" data-target-tab="#register-tab" class="btn-lg btn-basic btn-main mb-3 mr-3">Зарегистрируйтесь и узнайте цену</button>
                             </div>
                         </div>
                     </div>
                 </div>
             }
          
            <div class="d-flex my-3 flex-wrap d-block bg-secondary text-white align-items-center p-2" data-toggle="collapse" href="#collapse-@item.Catalog.Id" role="button" aria-expanded="@(index == 0 ? "true" : "false")" aria-controls="collapsePreorder">
                <div class="">
                    <p class="m-auto">
                        <i class="mdi mdi-arrow-expand"></i> @item.Catalog.Name
                    </p>
                </div>
                <div class="ml-auto">
                    Найдено моделей: @item.NomModels.Count()
                </div>
            </div>

            <div class="form-row row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-1 collapse @(index == 0 ? "show" : "")" id="collapse-@item.Catalog.Id">
                @foreach (var nomModel in item.NomModels) {
                    <div class="col mb-2">
                        <div class="card rounded-0 border-0 h-100">
                            <a href="@Url.Action("Product", "Catalog", new {NomId = nomModel.NomId, CtlgUri = item.Catalog.Uri})">
                                <div class="image-fix-height-wrapper ratio150">
                                    <img class="img-max-width lazy image" data-srcset="@nomModel.ImagePath?width=400&height=600 576w, @nomModel.ImagePath?width=700&height=1050 768w, @nomModel.ImagePath?width=400&height=600 992w" alt="@nomModel.ImageAltText" />
                                </div>
                            </a>
                            <div class="card-body p-1">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="m-0">
                                            @nomModel.ItemName
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <a href="@Url.Action("Product", "Catalog", new {NomId = nomModel.NomId, CtlgUri = item.Catalog.Uri})"
                                           class="btn btn-basic btn-main rounded-0 btn-block">
                                            Подробнее
                                        </a>
                                    </div>
                                    @if (hasAccess) {
                                        <div class="col-12">
                                            @{
                                                var price = nomModel.GetDefaultPriceWithDiscount(item.Discount);
                                            }
                                            <p class="m-0"><b>@price.ToTwoDecimalPlaces() $ | @nomModel.Exchange(price).ToTwoDecimalPlaces() р</b></p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    } else {
        <p class="text-center h3">По Вашему запросу модели отсутствуют.</p>
    }
</div>