﻿@model KristaShop.Business.DTOs.NomModelDetailDTO
@inject KristaShop.Common.Interfaces.IFrontUserService userService
@{
    ViewData["Title"] = $"Модель {Model?.ItemName}";
    var user = userService.Get();
}

<div class="container-fluid">
    <div class="row pl-4 mt-4">
        <div class="col-lg-10 offset-lg-2">
            <a asp-action="Index" asp-controller="Home" class="text-black">Главная</a> / <a href="/Catalog?CatalogUri=@Model.CatalogUri&page=@ViewData["CatalogPage"]" class="text-black">@ViewBag.CatalogName</a> / @Model.Articul
        </div>
    </div>
    <div class="row p-4">
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-3">
            @await Component.InvokeAsync("Category", new { viewName = "SidePanel" })
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class=" mb-2 text-center">
                <ul id="imageGallery" style="list-style: none;">
                    @foreach (var item in Model.Photos.OrderBy(x => x.Order)) {
                        <li data-thumb="@item.PhotoPath?width=100" data-colorid="@item.ColorId">
                            <a href="@item.PhotoPath?width=1920" data-lightbox="@Model.ItemName" data-title="@Model.ItemName">
                                <img class="img-fluid mx-auto slider-photo" src="@item.PhotoPath?width=450" alt="@Model.ImageAltText" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <input type="hidden" id="requestCanAccess" value="@((user != null).ToString())">

            @if (!ViewBag.IsOpenCatalog) {
                @if (user != null) {
                     <input id="defaultPrice" hidden value="@Model.DefaultPrice"/>
                     <input id="defaultPriceRu" hidden value="@Model.DefaultPriceRu"/>
                     <div class="row">
                         <div class="col-sm-12 col-md-8 col-lg-8">
                             <span class="h3 d-flex align-items-center">
                                 АРТИКУЛ: @Model.Articul
                             </span>
                         </div>
                         <div class="col-sm-12 col-md-4 col-lg-4 d-flex flex-row justify-content-end">
                             <div class="ajax-background-form" data-use-response-message="True" data-success-callback="updateFavoriteButton">
                                 <form method="post" asp-action="AddOrDeleteFavorite" asp-controller="Favorite" class="">
                                     <input type="hidden" asp-for="NomId" id="NomId2"/>
                                     <input type="hidden" asp-for="CatalogId" id="CatalogId2"/>

                                     <button type="submit" class="btn btn-basic btn-basic-icon text-black">
                                         <div class="logo">
                                             <div class="text icon icon-icomoon-star icon-font @(Model.IsFavorite ? "text-gradient" : "")" data-favorite="text-gradient"></div>
                                         </div>
                                         <div class="text-wrapper">
                                             <div class="text">Избранное</div>
                                         </div>
                                     </button>
                                 </form>
                             </div>
                         </div>
                     </div>
                 } else {
                     <p class="h3 text-uppercase text-black">Пройдите регистрацию</p>
                     <p class="h6 font-italic text-black">Чтобы узнать цену</p>
                 }
            }
            <p class="my-3 text-justify text-wrap">
                @Html.Raw(Model.Description)
            </p>

            <div class="d-flex justify-content-center align-content-center my-2">
                <p class="my-auto mr-3 text-nowrap h5">РАЗМЕРНЫЙ РЯД:</p>
                <div class="btn-group-toggle flex-wrap m-auto w-100" data-toggle="buttons">
                    @{
                        var sizeSelected = true;
                        for (int sizeCount = 0; sizeCount < Model.Sizes.Count; sizeCount++) {
                            <label class="btn btn-sm btn-filter-light rounded-0 mr-2 @Html.AddValue(sizeSelected, "active")">
                                <input type="radio" name="Size" autocomplete="off" value="@Model.Sizes[sizeCount].Id" checked="@sizeSelected"> @Model.Sizes[sizeCount].Name
                            </label>
                            sizeSelected = false;
                        }
                    }

                </div>
            </div>
            <div class="d-flex justify-content-center align-content-center my-2">
                <p class="my-auto mr-3 h5">ЦВЕТ:</p>
                <div class="div-colors m-auto w-100">
                    @{
                        var colorSelected = true;
                        var selectedColorName = string.Empty;
                        foreach (var item in Model.Colors) {
                            var background = string.IsNullOrEmpty(item.Image) ? item.Code : $"url({item.Image})";
                            <label>
                                <input type="radio" name="Color" autocomplete="off" value="@item.Id" data-colorname="@item.Name" checked="@colorSelected">
                                <span class="swatch" style="background: @background;" data-toggle="tooltip" data-placement="top" title="@item.Name"></span>
                            </label>
                            selectedColorName = item.Name;
                            colorSelected = false;
                        }
                    }
                </div>
            </div>
            <p class="h5 my-3">НАЗВАНИЕ ЦВЕТА:&nbsp;<text id="colorName">@selectedColorName</text></p>
            @if (!ViewBag.IsOpenCatalog) {
                @if (user != null) {
                     <form method="post" asp-action="AddToCart" asp-controller="Cart">
                         <input type="hidden" asp-for="NomId"/>
                         <input type="hidden" asp-for="IsSet"/>
                         <input type="hidden" asp-for="CatalogId"/>
                         <input type="hidden" asp-for="CatalogUri"/>
                         <input type="hidden" name="PartsCount" id="PartsCount" value="@Model.PartsCount"/>
                         <input type="hidden" name="ProductId" id="ProductId" value="@Model.SelectedProductId"/>
                         <div class="d-flex justify-content-center align-content-center my-2">
                             <p class="my-auto mr-3 h5">КОЛИЧЕСТВО:</p>
                             <div class="input-group m-auto">
                                 <div class="input-group-prepend">
                                     <button class="btn btn-sm btn-dark minus rounded-circle" type="button" style="width: 38px" disabled>
                                         <i class="mdi mdi-minus"></i>
                                     </button>
                                 </div>
                                 <input type="number" name="Amount" id="Amount" class="form-control border-0 col-2 text-center" placeholder="" aria-label="" value="1">
                                 <div class="input-group-append">
                                     <button class="btn btn-sm btn-dark plus rounded-circle" type="button" style="width: 38px">
                                         <i class="mdi mdi-plus"></i>
                                     </button>
                                 </div>
                             </div>
                         </div>
                         <div class="d-flex my-4">
                             <button type="submit" class="btn btn-lg btn-basic btn-main mdi mdi-cart mr-3" id="add-to-cart">Добавить в корзину</button>
                         </div>
                     </form>
                     <p class="h5 my-3">Цена за единицу: <text id="SinglePrice">@((Model.PartsCount == 0 ? Model.DefaultPrice : Model.DefaultPrice / Model.PartsCount).ToTwoDecimalPlaces())</text> $ | <text id="SinglePriceRu">@((Model.PartsCount == 0 ? Model.DefaultPriceRu : Model.DefaultPriceRu / Model.PartsCount).ToTwoDecimalPlaces())</text> р</p>
                     if (Model.IsSet) {
                         <p class="h5 my-3">Цена за линейку: <text id="ProductPrice">@Model.DefaultPrice.ToTwoDecimalPlaces()</text> $ | <text id="ProductPriceRu">@Model.DefaultPriceRu.ToTwoDecimalPlaces()</text> р</p>
                     }
                     <p class="h5 my-3">Количество штук: <text id="totalLineAmount">@Model.PartsCount</text></p>
                     if (Model.IsSet) {
                         <p class="h5 my-3">Количество линеек: <text id="totalAmount">1</text></p>
                     }
                     <p class="h5 my-3"><strong>На сумму: <text id="totalPrice">@Model.DefaultPrice</text> $ | <text id="totalPriceRu">@Model.DefaultPriceRu</text> р</strong></p>
                 } else {
                     <button data-toggle="ajax-modal" data-target="#registerModal" data-target-tab="#register-tab" class="btn-lg btn-basic btn-main mb-3 mr-3">Зарегистрируйтесь и узнайте цену</button>
                     <input type="hidden" asp-for="NomId"/>
                     <input type="hidden" asp-for="CatalogId"/>
                 }
            } else {
                <input type="hidden" asp-for="NomId"/>
                <input type="hidden" asp-for="CatalogId"/>
            }
            <p>
                <b>Категория:</b> @Html.Raw(String.Join(", ", Model.Categories.Select(x => $"<a class=\"text-decoration-none text-dark\" target=\"_blank\" href=\"{Url.Action("Products", "Catalog", new { CategoryIds = new List<Guid> { x.Id } })}\">{x.Name}</a>").ToArray()))
            </p>
            @if (!string.IsNullOrEmpty(Model.VideoUrl)) {
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@Model.VideoUrl" allowfullscreen></iframe>
                </div>
            }
        </div>
    </div>
    
    @await Component.InvokeAsync("Gallery", new {isRandom = true})
    @await Component.InvokeAsync("Recommended", new { CategoryIds = Model.Categories.Select(x => x.Id).ToList() })
</div>

@section Styles{
    <link rel="stylesheet" href="~/lib/lightslider/css/lightslider.min.css">
    <link rel="stylesheet" href="~/lib/lightgallery/css/lightgallery.min.css">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/pages/catalog-product.css" asp-append-version="true">
    </environment>
    <environment include="Production, Staging">
        <link rel="stylesheet" href="~/css/min/pages.min.css" asp-append-version="true">
    </environment>
}

@section Scripts{
    <script src="~/lib/lightslider/js/lightslider.min.js"></script>
    <script src="~/lib/lightgallery/js/lightgallery-all.min.js"></script>
    <environment include="Development">
        <script src="~/js/pages/product-details.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production, Staging">
        <script src="~/js/min/product-details.min.js" asp-append-version="true"></script>
    </environment>
}