﻿@model SearchPanelViewModel

@{
    ViewData["Title"] = "Поиск по всем каталогам";
}

<form class="container p-2" method="get" asp-action="Products">
    <div class="form-row justify-content-center align-items-center my-3">
        <div class="col-sm-12 col-lg-9 text-center text-lg-left">
            <h2 class="m-0 text-black">@ViewData["Title"]</h2>
        </div>
        <div class="col-sm-6 col-lg-3">
            <button type="submit" class="btn btn-active btn-block btn-lg">НАЙТИ МОДЕЛИ</button>
        </div>
    </div>
    <div class="form-row my-2">
        <div class="col-sm-12 col-lg-6 mb-2">
            <select name="CatalogUri" asp-items="ViewBag.Catalogs" class="form-control">
                <option value="">По всем каталогам</option>
            </select>
        </div>
        <div class="col-sm-12 col-lg-3 mb-2">
            <input type="text" class="form-control" placeholder="Артикул" name="Name" value="@Model.NomFilter.Name">
        </div>
        <div class="col-sm-12 col-lg-3">
            <div class="row">
                <div class="col-sm-12 col-lg-5 mr-auto pr-lg-0">
                    <input type="text" class="form-control" placeholder="Цена мин" name="PriceMin" value="@Model.NomFilter.PriceMin">
                </div>
                <div class="col-sm-12 col-lg-2 text-center">
                    <label for="inputEmail3" class="col-form-label">&mdash;</label>
                </div>
                <div class="col-sm-12 col-lg-5 ml-auto pl-lg-0">
                    <input type="text" class="form-control" placeholder="Цена макс" name="PriceMax" value="@Model.NomFilter.PriceMax">
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12 col-lg-3 mb-2">
            <div class="card bg-white">
                <h5 class="m-2"><b>Цвет:</b></h5>
                @foreach (var item in Model.NomSearch.Colors.Take(5))
                {
                    if (Model.NomFilter.ColorIds.Contains(item.Id))
                    {
                        <label class="container-checkbox m-2">
                            @item.Name
                            <input type="checkbox" name="ColorIds" value="@item.Id" checked>
                            <span class="checkmark"></span>
                        </label>
                    }
                    else
                    {
                        <label class="container-checkbox m-2">
                            @item.Name
                            <input type="checkbox" name="ColorIds" value="@item.Id">
                            <span class="checkmark"></span>
                        </label>
                    }
                }
                <div class="collapse" id="One">
                    @foreach (var item in Model.NomSearch.Colors.Skip(5))
                    {
                        if (Model.NomFilter.ColorIds.Contains(item.Id))
                        {
                            <label class="container-checkbox m-2">
                                @item.Name
                                <input type="checkbox" name="ColorIds" value="@item.Id" checked>
                                <span class="checkmark"></span>
                            </label>
                        }
                        else
                        {
                            <label class="container-checkbox m-2">
                                @item.Name
                                <input type="checkbox" name="ColorIds" value="@item.Id">
                                <span class="checkmark"></span>
                            </label>
                        }
                    }
                </div>
                <button type="button" class="btn text-black" data-toggle="collapse" data-target="#One" id="read-more-one">Показать остальное</button>
            </div>
        </div>
        <div class="col-sm-12 col-lg-3 mb-2">
            <div class="card bg-white">
                <h5 class="m-2"><b>Категории:</b></h5>
                @foreach (var item in Model.NomSearch.Categories.Take(5))
                {
                    if (Model.NomFilter.CategoryIds.Contains(item.Id))
                    {
                        <label class="container-checkbox m-2">
                            @item.Name
                            <input type="checkbox" name="CategoryIds" value="@item.Id" checked>
                            <span class="checkmark"></span>
                        </label>
                    }
                    else
                    {
                        <label class="container-checkbox m-2">
                            @item.Name
                            <input type="checkbox" name="CategoryIds" value="@item.Id">
                            <span class="checkmark"></span>
                        </label>
                    }
                }
                <div class="collapse" id="Two">
                    @foreach (var item in Model.NomSearch.Categories.Skip(5))
                    {
                        if (Model.NomFilter.CategoryIds.Contains(item.Id))
                        {
                            <label class="container-checkbox m-2">
                                @item.Name
                                <input type="checkbox" name="CategoryIds" value="@item.Id" checked>
                                <span class="checkmark"></span>
                            </label>
                        }
                        else
                        {
                            <label class="container-checkbox m-2">
                                @item.Name
                                <input type="checkbox" name="CategoryIds" value="@item.Id">
                                <span class="checkmark"></span>
                            </label>
                        }
                    }
                </div>
                <button type="button" class="btn text-black" data-toggle="collapse" data-target="#Two" id="read-more-two">Показать остальное</button>
            </div>
        </div>
        <div class="col-sm-12 col-lg-3 mb-2">
            <div class="card bg-white">
                <h5 class="m-2"><b>Размер:</b></h5>
                @foreach (var item in Model.NomSearch.Sizes.Take(5))
                {
                    if (Model.NomFilter.SizeIds.Contains(item.Id))
                    {
                        <label class="container-checkbox m-2">
                            @item.Name
                            <input type="checkbox" name="SizeIds" value="@item.Id" checked>
                            <span class="checkmark"></span>
                        </label>
                    }
                    else
                    {
                        <label class="container-checkbox m-2">
                            @item.Name
                            <input type="checkbox" name="SizeIds" value="@item.Id">
                            <span class="checkmark"></span>
                        </label>
                    }
                }
                <div class="collapse" id="Three">
                    @foreach (var item in Model.NomSearch.Sizes.Skip(5))
                    {
                        if (Model.NomFilter.SizeIds.Contains(item.Id))
                        {
                            <label class="container-checkbox m-2">
                                @item.Name
                                <input type="checkbox" name="SizeIds" value="@item.Id" checked>
                                <span class="checkmark"></span>
                            </label>
                        }
                        else
                        {
                            <label class="container-checkbox m-2">
                                @item.Name
                                <input type="checkbox" name="SizeIds" value="@item.Id">
                                <span class="checkmark"></span>
                            </label>
                        }
                    }
                </div>
                <button type="button" class="btn text-black" data-toggle="collapse" data-target="#Three" id="read-more-three">Показать остальное</button>
            </div>
        </div>
        <div class="col-sm-12 col-lg-3 mb-2">
            <div class="card bg-white">
                <h5 class="m-2"><b>Размерный ряд:</b></h5>
                @foreach (var item in Model.NomSearch.SizeLines.Take(5))
                {
                    if (Model.NomFilter.SizeLineIds.Contains(item.Id))
                    {
                        <label class="container-checkbox m-2">
                            @item.Name
                            <input type="checkbox" name="SizeLineIds" value="@item.Id" checked>
                            <span class="checkmark"></span>
                        </label>
                    }
                    else
                    {
                        <label class="container-checkbox m-2">
                            @item.Name
                            <input type="checkbox" name="SizeLineIds" value="@item.Id">
                            <span class="checkmark"></span>
                        </label>
                    }
                }
                <div class="collapse" id="Four">
                    @foreach (var item in Model.NomSearch.SizeLines.Skip(5))
                    {
                        if (Model.NomFilter.SizeLineIds.Contains(item.Id))
                        {
                            <label class="container-checkbox m-2">
                                @item.Name
                                <input type="checkbox" name="SizeLineIds" value="@item.Id" checked>
                                <span class="checkmark"></span>
                            </label>
                        }
                        else
                        {
                            <label class="container-checkbox m-2">
                                @item.Name
                                <input type="checkbox" name="SizeLineIds" value="@item.Id">
                                <span class="checkmark"></span>
                            </label>
                        }
                    }
                </div>
                <button type="button" class="btn text-black" data-toggle="collapse" data-target="#Four" id="read-more-four">Показать остальное</button>
            </div>
        </div>
    </div>
</form>