﻿@model P.Pager.IPager<GalleryItemDTO>
@{
    ViewData["Title"] = "Krista Stories";
}

<div class="container-fluid">
    <div class="row my-5">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
            <p class="text-uppercase text-center text-md-left text-lg-left text-xl-left text-main-header">@ViewData["Title"]</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 border-left">
            @Html.Raw(ViewBag.Description)
        </div>
    </div>
    <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1">
        @foreach (var item in Model) {
            <div class="col mb-2">
                <div class="card mb-3 border-0">
                    <a href="@item.ImagePath" data-lightbox="Изображение" data-title="@item.Title">
                        <div class="image-fix-height-wrapper">
                            <img class="card-img-top rounded-0 lazy image" data-src="@item.ImagePath?width=480" alt="..." />
                        </div>  
                    </a>
                    <div class="card-body px-0 bg-basic">
                        <div class="card-text font-weight-bold mb-2">
                            <img src="/img/svg/paginator-current.svg" class="mr-2" alt="image alt text" width="17px">
                            @item.Title
                        </div>
                        <div class="card-text text-overflow card-description-text">
                            @Html.Raw(item.Description)
                        </div>
                        <div>
                            <a href="@item.Link" class=" text-black text-decoration-none link-basic">
                                <span class="card-text">
                                    @if (item.Link.Contains("instagram")) {
                                        <img src="/img/svg/insta.png" class="mr-2" alt="image alt text" width="20px">
                                    }
                                    @item.LinkText
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @Html.Pager(Model, page => Url.Action("Index", new {
        page
    }), new PagerOptions {
        ClassToPagerContainer = "d-flex justify-content-center my-5",
        TextToPreviousPage = "&larr;",
        TextToNextPage = "&rarr;",
        ClassToUl = "list-inline",
        ClassToLi = "list-inline-item",
        PageClass = "nopageclass text-decoration-none text-dark",
        ClassToActiveLi = "niloclass",
        TextForDelimiter = "|"
    })
</div>

@section Scripts{
    <script>
        function resetForm() {
            document.getElementById("searchForm").reset();
            $(":checkbox").attr("checked", false);
        }
        $(document).ready(function () {
            $('.niloclass a').html('<img src="/img/svg/paginator-current.svg" alt="image alt text" width="17px">');
        })
    </script>
}