﻿@model MenuContentViewModel
@{
    ViewData["Title"] = "Контент статичных страниц - Изменить запись";
}
<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <a asp-action="Index">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Назад к списку
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="Order" />
                            <input type="hidden" asp-for="TitleIconPath" />
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="IsOpen">
                                    <label class="custom-control-label" asp-for="IsOpen"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="IsSinglePage">
                                    <label class="custom-control-label" asp-for="IsSinglePage"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="IsVisibleInMenu">
                                    <label class="custom-control-label" asp-for="IsVisibleInMenu"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="URL" class="control-label"></label>
                                <input asp-for="URL" class="form-control form-control-sm" />
                                <span asp-validation-for="URL" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-11">
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" class="form-control form-control-sm" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-1">
                                    <div class="form-group d-flex justify-content-center">
                                        <div class="image-upload">
                                            <label asp-for="TitleIcon">
                                                @if (string.IsNullOrEmpty(Model.TitleIconPath)) {
                                                    <img src="~/galleryphotos/nophoto.png?width=250" class="img-fluid img-thumbnail" width="60" height="60" title="Иконка заглавия" />
                                                } else {
                                                    <img src="@Model.TitleIconPath" width="60" height="60" class="img-fluid img-thumbnail" />
                                                }
                                            </label>
                                            <input asp-for="TitleIcon" type="file" data-img-uploader="img" />
                                            <span asp-validation-for="TitleIcon" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Layout" class="control-label"></label>
                                <select asp-for="Layout" asp-items="Model.Layouts" class="selectpicker form-control show-menu-arrow" data-size="10" data-live-search="true" data-actions-box="true">
                                </select>
                                <span asp-validation-for="Layout" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Body" class="control-label"></label>
                                <textarea asp-for="Body" class="form-control html-editor" rows="8" cols="15"></textarea>
                                <span asp-validation-for="Body" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MetaTitle" class="control-label"></label>
                                <input asp-for="MetaTitle" class="form-control form-control-sm" />
                            </div>
                            <div class="form-group">
                                <label asp-for="MetaDescription" class="control-label"></label>
                                <textarea asp-for="MetaDescription" class="form-control" rows="4" cols="15"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="MetaKeywords" class="control-label"></label>
                                <input asp-for="MetaKeywords" class="form-control form-control-sm" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block shadow">Подтвердить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_WysiwygScriptsPartial");
        <script src="~/js/admin/Common/ImgUploader.js" asp-append-version="true" type="text/javascript"></script>
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/dynamic-pages.css"/>
}
