﻿@{
    ViewData["Title"] = "Контент статичных страниц";
}

<div class="col-auto">
    <a asp-action="Create">Новая запись</a>
    <a asp-action="ReloadCache" class="px-4">Сбросить кэш</a>
</div>
<hr />
<div class="col-12 table-responsive">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Заглавие</th>
                <th>Алиас</th>
                <th>Макет</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Styles {
    <link href="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js" type="text/javascript"></script>
    <script src="~/js/admin/menu-content.js" asp-append-version="true" type="text/javascript"></script>
}