﻿<!-- About -->
<div class="col row mx-0 my-4 about-container justify-content-center" data-parallax="scroll" data-image-src="/img/about-background.jpg">
    <div class="block justify-content-center align-items-center col-12 col-md-8 col-lg-7 col-xl-7">
        <div class="about-block-content">
            <div class="about-block-content-row text-center">
                <p class="h2 about-block-content-row-header">О компании krista unique</p>
            </div>

            <div class="about-block-content-row about-block-content-row-text">
                @Html.Raw(ViewBag.AboutDesc)
            </div>

            <div class="col text-center about-block-content-row">
                <a asp-action="Index" asp-controller="About" class="btn btn-lg btn-basic-fixed btn-main-white btn-about">Подробнее о нас</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="image-fix-height-wrapper ratio75">
                <img class="lazy image" data-src="/img/about1.jpg" alt="" />
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="image-fix-height-wrapper ratio75">
                <img class="img-max-width lazy image" data-src="/img/about2.jpg" alt="" />
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="image-fix-height-wrapper ratio75">
                <img class="img-max-width lazy image" data-src="/img/about3.jpg" alt="" />
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="image-fix-height-wrapper ratio75">
                <img class="img-max-width lazy image" data-src="/img/about4.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
<!-- About -->