﻿@model KristaShop.Business.DTOs.NomCatalogDTO
@if (Model?.Catalog != null && Model?.NomModels != null)
{
    <!-- Start Catalogs -->
    <div class="container-fluid">
        <div class="row my-5">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">

                <p class="text-uppercase text-center text-md-left text-lg-left text-xl-left text-main-header">
                    <a asp-controller="Catalog" asp-action="Index" asp-route-catalogId="@Model.Catalog.Id" class="link-decoration-none">
                        @Model.Catalog.Name
                    </a>
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 border-left">
                <span class="text-main">
                        @Html.Raw(Model.Catalog.Description)
                </span>
            </div>
        </div>
        <div class="row row-cols-xl-6 row-cols-lg-3 row-cols-md-2 row-cols-1 my-3">
            @foreach (var item in Model.NomModels)
            {
                <div class="col mb-2">
                    <a asp-controller="Catalog" asp-action="Product" asp-route-nomId="@item.NomId" asp-route-ctlgUri="@Model.Catalog.Uri" class="d-block">
                        <div class="card text-white mb-3 card-ovl">
                            <div class="image-fix-height-wrapper ratio150">
                                <img class="lazy image" data-srcset="@item.ImagePath?width=300&height=450 430w, @item.ImagePath?width=400&height=600 576w, @item.ImagePath?width=700&height=1050 768w, @item.ImagePath?width=400&height=600 992w, @item.ImagePath?width=300&height=450 1200w" alt="@item.ImageAltText" />
                            </div>  
                            <div class="card-img-overlay d-flex flex-column justify-content-center ovl h-100">
                                <span class="font-italic card-text text-center text-overflow">
                                    @Html.Raw(item.Description)
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="row">
            <div class="col text-center">
                <a asp-controller="Catalog" asp-action="Index" asp-route-catalogId="@Model.Catalog.Id" class="btn btn-lg btn-basic-fixed btn-main">
                    Смотреть каталог
                </a>
            </div>
        </div>
    </div>
    <!-- End Catalogs -->
}