﻿@model KristaShop.Business.DTOs.CartTotalsDTO;
@{
    ViewData["Title"] = "Список моделей в корзинах";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-auto mr-auto">
                Список моделей в корзинах
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-sm-12 col-md-4 col-lg-2">
                <label>Количество</label>
                <input type="text" class="form-control" readonly="readonly" value="@Model.Amount">
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-2">
                <label>Единиц</label>
                <input type="text" class="form-control" readonly="readonly" value="@Model.TotalAmount">
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-2">
                <label>Скидка</label>
                <input type="text" class="form-control" readonly="readonly" value="@Model.Discount">
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-2">
                <label>Скидка (р)</label>
                <input type="text" class="form-control" readonly="readonly" value="@Model.DiscountRu">
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-2">
                <label>Итого</label>
                <input type="text" class="form-control" readonly="readonly" value="@Model.TotalPrice">
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-2">
                <label>Итого (р)</label>
                <input type="text" class="form-control" readonly="readonly" value="@Model.TotalPriceRu">
            </div>
        </div>
    </div>
</div>
<div class="col-12 table-responsive">
    <table class="table table-striped table-bordered text-break" style="width: 100%">
        <thead>
        <tr>
            <th>№</th>
            <th>Артикул</th>
            <th>Цвет</th>
            <th>Размер</th>
            <th>Количество</th>
            <th>Единиц</th>
            <th>Цена</th>
            <th>Цена (р)</th>
            <th>Скидка</th>
            <th>Скидка (р)</th>
            <th>Итого</th>
            <th>Итого (р)</th>
        </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/admin/cart/carts-report.js" asp-append-version="true" type="text/javascript"></script>
}