﻿@model KristaShop.Business.DTOs.FaqDTO
@{
    ViewData["Title"] = "Редактирование";
}

<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <a asp-action="Index">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Назад к списку
                    </a>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="UpdateFaq">
                    <input hidden asp-for="@Model.Id" />
                    <div class="form-row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                        <div class="col-12">

                            <div class="form-group">
                                <label asp-for="Title" class="control-label">Заголовок</label>
                                <input asp-for="Title" class="form-control form-control-sm" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ColorCode" class="control-label">Цвет блока</label>
                                <input type="color" class="form-control" asp-for="ColorCode" />
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block shadow">Обновить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






