﻿@model KristaShop.Business.DTOs.FaqSectionDto
@{
    ViewData["Title"] = "Редактировать секцию";
    string faqRootUrl = (string)ViewBag.FaqRootUrl;
}

<div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <a asp-action="Index">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Назад к списку
                    </a>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="UpdateFaqSection" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <input hidden asp-for="Id" />
                        <input hidden asp-for="FaqId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label">Заголовок</label>
                                <input asp-for="Title" class="form-control form-control-sm" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Icon" class="control-label">Иконка секции</label>
                                <input style="margin-top:10px;" class="form-control" asp-for="Icon" type="file" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block shadow">Обновить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




