﻿@model IEnumerable<KristaShop.Business.DTOs.GalleryItemDTO>
<!-- Dress story -->
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
            <p class="text-uppercase text-center text-md-left text-lg-left text-xl-left text-main-header th1 ">
                <a asp-action="Index" asp-controller="Gallery" class="link-decoration-none">
                    Krista Stories
                </a>
            </p>
        </div>
        @if (string.IsNullOrEmpty(ViewBag.GalleryDesc?.ToString())) {
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 border-left">
                <div class="text-main">
                    <p>
                        @Html.Raw(ViewBag.GalleryDesc)
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1">
        @foreach (var item in Model)
        {
            <div class="col mb-2">
                <a href="@item.Link" class="d-block" target="_blank">
                    <div class="card text-white mb-3 card-ovl">
                        <div class="image-fix-height-wrapper">
                            <img class="card-img lazy image" data-src="@item.ImagePath?width=480" alt="..." />
                        </div>  
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-center ovl">
                            <span class="h3 card-text text-center text-overflow">
                                @Html.Raw(item.Description)
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="row my-3">
        <div class="col text-center">
            <a asp-action="Index" asp-controller="Gallery" class="btn btn-lg btn-basic-fixed btn-main">Смотреть все фотографии</a>
        </div>
    </div>
</div>
<!-- Dress story -->