﻿@model MenuItemViewModel
@{
    ViewData["Title"] = "Пункт меню - Новая запись";
}

<div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <a asp-action="Index">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Назад к списку
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="MenuType" class="control-label"></label>
                                <select asp-for="MenuType" asp-items="Html.GetEnumSelectList<MenuType>()" class="form-control form-control-sm"></select>
                                <span asp-validation-for="MenuType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control form-control-sm" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ControllerName" class="control-label"></label>
                                <input asp-for="ControllerName" class="form-control form-control-sm" />
                                <span asp-validation-for="ControllerName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ActionName" class="control-label"></label>
                                <input asp-for="ActionName" class="form-control form-control-sm" />
                                <span asp-validation-for="ActionName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="URL" class="control-label"></label>
                                <input asp-for="URL" class="form-control form-control-sm" />
                                <span asp-validation-for="URL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Params" class="control-label"></label>
                                <input asp-for="Params" class="form-control form-control-sm" />
                                <span asp-validation-for="Params" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Icon" class="control-label"></label>
                                <input asp-for="Icon" class="form-control form-control-sm" />
                                <span asp-validation-for="Icon" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Order" class="control-label"></label>
                                <input asp-for="Order" class="form-control form-control-sm" />
                                <span asp-validation-for="Order" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block shadow">Подтвердить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>