﻿@{
    ViewData["Title"] = "Пункт меню - Список";
}

<div class="col-auto">
    <a asp-action="Create">Новая запись</a>
</div>
<hr />
<div class="col-12 table-responsive">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Контроллер</th>
                <th>Экшен</th>
                <th>Иконка</th>
                <th>Параметер</th>
                <th>№ порядка</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/admin/Menu/Index.js" asp-append-version="true" type="text/javascript"></script>
}