﻿@model P.Pager.IPager<VideoDTO>
@{
    ViewData["Title"] = "Видеогалерея";
    var gallery = ViewData["Gallery"] as VideoGalleryDTO;
}

<div class="container-fluid">
    <div class="row my-5">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
            <p class="text-uppercase text-center text-md-left text-lg-left text-xl-left text-main-header">
                @gallery.Title
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 border-left">
            <div class="text-main">
                <p>
                    @Html.Raw(gallery.Description)
                </p>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(gallery.PreviewPath) && !string.IsNullOrEmpty(gallery.VideoPath)) {
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card mb-3 border-0 rounded-0 shadow">
                    <div class="position-relative">
                        <img src="@gallery.PreviewPath?height=850" class="card-img-top rounded-0 w-100 img-max-width img-cover" alt="..." style="max-height: 620px;">
                        <a class="d-block" data-toggle="video-modal" data-target="#videoModal" data-source="@gallery.VideoPath">
                            <div class="card-img-overlay d-flex flex-column justify-content-center ovl text-white">
                                <span class="h3 card-text text-center text-overflow">
                                    <i class="mdi mdi-youtube icon-font-100px icon-font-smx-150px text-gradient"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1">
        @foreach (var video in Model) {
            <div class="col mb-2">
                <div class="card mb-3 border-0 rounded-0 shadow h-100">
                    <div class="position-relative">
                        <div class="image-fix-height-wrapper">
                            <img class="card-img-top rounded-0 lazy image" data-src="@video.PreviewPath?width=480" alt="..." />
                        </div>  
                        <a class="d-block" data-toggle="video-modal" data-target="#videoModal" data-source="@video.VideoPath">
                            <div class="card-img-overlay d-flex flex-column justify-content-center ovl text-white">
                                <span class="h3 card-text text-center text-overflow">
                                    <i class="mdi mdi-youtube icon-font-100px icon-font-smx-150px text-gradient"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="link-decoration-none cursor-pointer" data-toggle="video-modal" data-target="#videoModal" data-source="@video.VideoPath">@video.Title</a>
                        </h5>
                        <span class="card-text text-overflow card-description-text">
                            @Html.Raw(video.Description)
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
    @Html.Pager(Model, page => Url.Action("Details", new {
        gallery = gallery.Slug,
        page
    }), new PagerOptions {
        ClassToPagerContainer = "d-flex justify-content-center my-5",
        TextToPreviousPage = "&larr;",
        TextToNextPage = "&rarr;",
        ClassToUl = "list-inline",
        ClassToLi = "list-inline-item",
        PageClass = "nopageclass text-decoration-none text-dark",
        ClassToActiveLi = "niloclass",
        TextForDelimiter = "|"
    })
</div>

@await Html.PartialAsync("Partials/_VideoModalPartial")