﻿@model UserUpdateViewModel
<div class="ajax-post-form">
    <form method="post" asp-action="UpdateUserClient">
        <div class="ajax-post-form-body">
            <input asp-for="Id" hidden />
            <input asp-for="Person" hidden/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login"></label>
                <input asp-for="Login" class="form-control rounded-0" placeholder="Логин" autofocus="" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend bg-white rounded" title="Сгенерировать пароль" data-generate-password="#UserPassword">
                        <a class="btn btn-secondary"><span class="mdi mdi-lastpass"></span></a>
                    </div>
                    <input asp-for="Password" id="UserPassword" class="form-control rounded-0" placeholder="Пароль" />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId"></label>
                <select class="form-control rounded-0" asp-for="CityId" asp-items="Model.Cities">
                    <option value="">Другой город</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(Model.NewCity)) {
                <div class="form-group">
                    <label asp-for="NewCity"></label>
                    <input asp-for="NewCity" class="form-control rounded-0" placeholder="Название города" />
                    <span asp-validation-for="NewCity" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="MallAddress"></label>
                <input asp-for="MallAddress" class="form-control rounded-0" placeholder="Название торгового центра" />
                <span asp-validation-for="MallAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control rounded-0" placeholder="Номер телефона" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control rounded-0" placeholder="Электронная почта" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status"></label>
                <select class="form-control rounded-0" asp-for="Status" asp-items="Model.Statuses"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-block btn-light rounded-0">Применить</button>
        </div>
    </form>
</div>