﻿@model UserParamsViewModel
@{
    ViewData["Title"] = "Панель клиента";
    var catalogs = ViewBag.Catalogs as List<CatalogDTO>;
}

<div class="container mt-3">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card bg-active col-xl-4 col-lg-4 col-md-6 col-sm-12 p-0 text-white">
            <div class="card-body p-2">
                <form class="form-row" method="post" asp-action="SetUserParams">
                    <input hidden asp-for="ParamUserId" />
                    <div class="col-auto form-group">Контрагенты</div>
                    <div class="col-auto ml-auto form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="usersRadio1" name="usersRadio" class="custom-control-input manager-radio" value="true">
                            <label class="custom-control-label manager-radio-label" for="usersRadio1">Новые</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="usersRadio2" name="usersRadio" class="custom-control-input manager-radio" value="false">
                            <label class="custom-control-label manager-radio-label" for="usersRadio2">Все</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <a style="text-decoration:none; color:white;" asp-controller="Faq" asp-action="Index">Воронка</a>
                        </div>
                    </div>
                    <div class="users users-true col-12 form-group" hidden>
                        <select id="new-users-select" class="form-control user-selectbox mb-3 select2-dropdown" asp-items="ViewBag.NewUsers">
                            <option value="">Выберите контрагента</option>
                        </select>
                        <button type="button" id="change-user-btn" data-toggle="ajax-modal" data-target="#clientUpdateModal" class="btn btn-block bg-white text-active mdi mdi-pencil-circle-outline text-left mt-2" style="display: none;"> <b>Изменить</b></button>
                    </div>
                    <div class="users users-false col-12 form-group" hidden>
                        <select class="form-control user-selectbox select2-dropdown" asp-items="ViewBag.AllUsers">
                            <option value="">Выберите контрагента</option>
                        </select>
                    </div>
                    <div class="col-12 form-group">
                        <button type="button" class="btn btn-block bg-white text-active mdi mdi-phone-in-talk-outline text-left"> <b>Вызов</b></button>
                    </div>
                    <div class="col-12 form-group" style="display: none;">
                        <label>Ссылка для доступа к сайту</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white rounded">
                                <div class="input-group-text"><i class="mdi mdi-link"></i></div>
                            </div>
                            <input type="text" class="form-control border-0" id="link" placeholder="Ссылка для доступа к сайту">
                            <div class="input-group-append bg-white rounded">
                                <a href="" class="btn btn-secondary" id="login-link"><span class="mdi mdi-login"></span></a>
                            </div>
                        </div>
                    </div>
                    <div id="catalogs-access-select" class="col-12" style="display: none;">
                        <div class="col-12 form-group">
                            <label>Закрыть доступ к каталогам</label>
                            @foreach (var catalog in catalogs) {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input manager-checkbox" name="NonVisCtlgIds" id="customCheck-@catalog.Id" value="@catalog.Id">
                                    <label class="custom-control-label manager-checkbox-label" for="customCheck-@catalog.Id">@catalog.Name</label>
                                </div>
                            }
                        </div>
                        <div class="col-12 form-group m-0">
                            <button type="submit" class="btn btn-block bg-white text-active mdi mdi-check-circle-outline text-left"> <b>Применить</b></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="clientUpdateModal" tabindex="-1" role="dialog" aria-labelledby="clientUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title">Клиент</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-justified" role="tablist" hidden>
                    <li class="nav-item">
                        <a class="nav-link identity-link active" id="client-data-tab" data-toggle="tab" href="#client-data" role="tab" aria-controls="login" aria-selected="true" data-url="" data-base-url="@Url.Action("GetUserDetails", "Manager")">Клиент</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="client-data" role="tabpanel" aria-labelledby="client-data-tab">

                    </div>
                </div>
            </div>
            <div class="collapse rounded-0" id="collapseExample">
                <div class="modal-footer text-center text-white bg-active rounded-0 m-auto p-3">
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/select2-settings.css" asp-append-version="true" />
    </environment>
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <environment include="Development">
        <script src="~/js/manager/manager-page.js" asp-append-version="true" type="text/javascript"></script>
    </environment>
    <environment include="Production, Staging">
        <script src="~/js/min/manager-page.min.js" asp-append-version="true" type="text/javascript"></script>
    </environment>
}