﻿.div-colors label {
    cursor: pointer;
}

.div-colors input {
    display: none;
}

    .div-colors input[type="radio"][name=Color]:checked + .swatch {
        border: 1px solid #d3d3d3;
        box-shadow: inset 0 0 0 2px white;
    }

.swatch {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin: 0 5px 0 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}