﻿.bg-gradient-revert {
    background: linear-gradient(259.79deg, #7DE2FD -13.52%, #754DF0 46.13%, #772684 107.03%), #754DF0;
    color: white;
    padding: 10px;
}

/* --- Contacts --- */

.contacts-card {
    display: block;
    position: relative;
    height: auto;
}

.contacts-card .card-data {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.contacts-card .diamond-bg {
    position: absolute;
    background: url(/img/svg/diamond-background.svg) no-repeat;
    background-position: right center;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 0;
}

/* --- Container with full sized image ---*/
.image-fullwidth-container {
    width: 100%;
    background: linear-gradient(135deg, #7DE2FD 0%, #7A00F3 42.71%, #772684 100%);
    padding: 2px 0;
}

    .image-fullwidth-container .background-wrapper {
        padding: 10px 0;
        height: 100%;
    }

    .image-fullwidth-container .background-wrapper .background {
        background-repeat: no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        height: 100%;
    }

    .image-fullwidth-container .image-wrapper {
        padding: 10px 0;
        height: 100%;
    }

    .image-fullwidth-container .image-wrapper .image {
        height: auto;
        width: auto;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }