﻿<div class="table-responsive">
    <table id="catalog-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>ЧПУ</th>
                <th>Форма заказа</th>
                <th><i class="fa fa-eye"></i></th>
                <th>Скидка</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>