﻿@model DiscountViewModel

<div class="modal fade" id="create-edit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="CreateOrEdit" data-ajax-method="post" data-ajax="true" data-ajax-failure="createOrEditError" data-ajax-success="createOrEditSuccess" data-ajax-update="result" id="create-edit-form">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Скидка</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ParentId" />
                    <input type="hidden" asp-for="Type" />
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" asp-for="IsActive">
                            <label class="custom-control-label" asp-for="IsActive"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiscountPrice" class="control-label"></label>
                        <select asp-for="DiscountPrice" type="number" class="form-control form-control-sm">
                            <option value="-2">-2</option>
                            <option value="-1">-1</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        <span asp-validation-for="DiscountPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate"></label>
                        <div class="input-group" id="startDatePicker" data-target-input="nearest" data-datetime-picker>
                            <input asp-for="StartDate" type="text" class="form-control form-control-sm datetimepicker-input" data-target="#startDatePicker" />
                            <div class="input-group-append" data-target="#startDatePicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate"></label>
                        <div class="input-group" id="endDatePicker" data-target-input="nearest" data-datetime-picker>
                            <input asp-for="EndDate" type="text" class="form-control form-control-sm datetimepicker-input" data-target="#endDatePicker" />
                            <div class="input-group-append" data-target="#endDatePicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    @if (Model.Type == DiscountType.Nom) {
                        <div class="form-group">
                            <label asp-for="CatalogIds" class="control-label"></label>
                            <select asp-for="CatalogIds" class="selectpicker form-control show-menu-arrow" data-size="10" data-live-search="true" multiple data-actions-box="true"></select>
                            <span asp-validation-for="CatalogIds" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success btn-sm btn-block">Подтвердить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Delete" data-ajax-method="post" data-ajax="true" data-ajax-success="deleteSuccess" data-ajax-failure="deleteError" data-ajax-update="result" id="delete-form">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Удалить запись</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden name="EntityId" id="EntityId" />
                    <input hidden name="EntityType" id="EntityType" />
                    <h5>Вы действительно хотите удалить данные?</h5>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-block">
                        Удалить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>