﻿@await Component.InvokeAsync("SearchModel")

<div class="table-responsive">
    <table id="nom-table" class="table table-striped table-bordered text-break" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Фото</th>
                <th>Артикул</th>
                <th>Наименование</th>
                <th>Цвет</th>
                <th>Размер</th>
                <th>Каталог</th>
                <th>Категория</th>
                <th><i class="fa fa-eye"></i></th>
                <th><i class="fa fa-eye"></i></th>
                <th>%</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>