﻿@model DiscountViewModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="row">
    <div class="col-auto mr-auto">
        <button type="button" onclick="Create('@Model.Type', '@Model.ParentId')" class="btn btn-outline-primary mr-3" data-toggle="modal" data-target="#create-edit-modal">
            <i class="fas fa-plus-circle"></i> Новая запись
        </button>
    </div>
    <div class="col-auto">
        <a asp-action="Index" class="btn btn-warning mr-1" type="button"><i class="fas fa-arrow-circle-left"></i> Назад</a>
    </div>
</div>
<partial name="_FormPartial" />
<hr />
<div class="col-12 table-responsive">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Скидка в $</th>
                <th>Активность</th>
                <th>Действует от</th>
                <th>Действует до</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
}

@section Scripts {
    <script src="~/js/admin/Discount/IndexType.js" asp-append-version="true" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/locale/ru.min.js"></script>
    <script src="~/js/admin/Identity/Index.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/admin/Common/datetime-picker.js" asp-append-version="true" type="text/javascript"></script>
}