﻿@{
    ViewData["Title"] = "Скидки";
}

<div class="p-4 mt-3 bg-white rounded shadow">
    <!-- Rounded tabs -->
    <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
        <li class="nav-item flex-sm-fill">
            <a id="ctlgs-tab" data-toggle="tab" href="#ctlgs" role="tab" aria-controls="ctlgs" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">Каталоги</a>
        </li>
        <li class="nav-item flex-sm-fill">
            <a id="models-tab" data-toggle="tab" href="#models" role="tab" aria-controls="models" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Модели</a>
        </li>
        <li class="nav-item flex-sm-fill">
            <a id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Пользователи</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div id="ctlgs" role="tabpanel" aria-labelledby="ctlgs-tab" class="tab-pane fade px-4 py-5 show active">
            <partial name="_CatalogPartial" />
        </div>
        <div id="models" role="tabpanel" aria-labelledby="models-tab" class="tab-pane fade px-4 py-5">
            <partial name="_NomPartial" />
        </div>
        <div id="users" role="tabpanel" aria-labelledby="users-tab" class="tab-pane fade px-4 py-5">
            <partial name="_UserPartial" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin/Discount/Catalog.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/admin/Discount/Nom.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/admin/Discount/User.js" asp-append-version="true" type="text/javascript"></script>
}