﻿@model FeedbackViewModel

<div class="ajax-post-form">
    <form method="post" asp-action="Create" asp-controller="Feedback">
        <div class="ajax-post-form-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <input asp-for="Captcha" type="hidden" id="captchaInput"/>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Person" class="sr-only"></label>
                    <input asp-for="Person" class="form-control rounded-0" placeholder="ФИО" autofocus="" />
                    <span asp-validation-for="Person" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Phone" class="sr-only"></label>
                    <input asp-for="Phone" class="form-control rounded-0" placeholder="Номер телефона" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Email" class="sr-only"></label>
                    <input asp-for="Email" class="form-control rounded-0" placeholder="Электронная почта" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Message" class="sr-only"></label>
                    <textarea asp-for="Message" class="form-control rounded-0" placeholder="Сообщение" rows="5"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-block btn-basic btn-active rounded-0">Написать</button>
        </div>
    </form>
</div>