﻿@model KristaShop.DataReadOnly.DTOs.CounterpartyDTO

<div class="personal-data-container">
    <p class="text-header-bold title">@Model.Title</p>
    <div class="user-balance">
        <div class="text-wrapper">
            <span class="text balance-text-color">
                <span class="icon-font-12px icon-icomoon-money px-1"></span>
                Ваш личный баланс
            </span>
        </div>
        <div class="balance balance-bg-color">
            <div class="text">@Model.Balance.ToTwoDecimalPlaces() USD</div>
        </div>
    </div>
    <p class="m-0">Email: @Model.Email</p>
    <p class="m-0">Телефон: @Model.Phone</p>
    <p class="m-0">Адрес: @Model.City</p>
    <p class="">Торговый центр: @Model.MallAddress</p>
    <p><a asp-action="Orders" asp-controller="Personal" class="btn btn-basic btn-active-outline-white-shadow btn-block @Html.IsSelected("Personal", "Orders")">Действующие заказы</a></p>
    <p><a asp-action="OrdersHistory" asp-controller="Personal" class="btn btn-basic btn-active-outline-white-shadow btn-block @Html.IsSelected("Personal", "OrdersHistory")">История заказов</a></p>
    <p><a asp-action="ChangePassword" asp-controller="Personal" class="btn btn-basic btn-active-outline-white-shadow btn-block">Сменить пароль</a></p>
    <p><a asp-action="Logout" asp-controller="Account" class="btn btn-basic btn-active-outline-white-shadow btn-block">Выход</a></p>
</div>