﻿@model List<KristaShop.Business.DTOs.CategoryDTO>

@{
    ViewData["Title"] = "Категории";
}

<div class="container-fluid mb-5">
    <div class="row my-5">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
            <p class="h2 text-uppercase text-center text-md-left text-lg-left text-xl-left text-main-header">@ViewData["Title"]</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 border-left">
            @Html.Raw(ViewData["Description"])
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <div class="row row-max-width row-cols-1 row-cols-md-2 row-cols-lg-2 ">
            @{
                var count = Model.Count % 2 > 0 ? Model.Count - 1 : Model.Count;
            }
            @for (int i = 0; i < count; i++) {
                <div class="col-12 col-md-6 col-lg-6 mb-2">
                    <div class="card mb-3 border-0">
                        <a href="@Url.Action("Products", "Catalog", new {CategoryIds = new List<Guid> {Model[i].Id}})">
                            <img class="card-img-top" src="@Model[i].ImagePath?width=630" alt="">
                        </a>
                        <div class="card-body p-0 bg-basic">
                            <a href="@Url.Action("Products", "Catalog", new {CategoryIds = new List<Guid> {Model[i].Id}})" class="link-decoration-none">
                                <div class="card-text mb-2 text-header-basic text-header-grey text-center">
                                    @Model[i].Name
                                </div>
                            </a>
                            <div class="card-text card-description-text text-main-grey">
                                @Html.Raw(Model[i].Description)
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Count > count) {
                <div class="col-12 col-md-12 col-lg-12 mb-2">

                    <div class="card mb-3 border-0">
                        <a href="@Url.Action("Products", "Catalog", new {CategoryIds = new List<Guid> {Model[^1].Id}})">
                            <img class="card-img-top horizontal-image" src=" @Model[^1].ImagePath?width=1300">
                        </a>
                        <div class="card-body p-0 bg-basic">
                            <a href="@Url.Action("Products", "Catalog", new {CategoryIds = new List<Guid> {Model[^1].Id}})" class="link-decoration-none">
                                <div class="card-text mb-2 text-header-basic text-header-grey text-center">
                                    @Model[^1].Name
                                </div>
                            </a>
                            <div class="card-text card-description-text text-main-grey">
                                @Html.Raw(@Model[^1].Description)
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>