﻿@model IEnumerable<KristaShop.Business.DTOs.RecommendedNomenclatureDto>
<!-- Start Recommended section -->
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-12 align-self-center">
            <p class="text-uppercase text-center text-md-left text-lg-left text-xl-left text-main-header th1">
                <span class="text-adaptive th1 text-adaptive-none-sm">Рекомендованные</span>
            </p>
        </div>
    </div>
    <div class="row row-cols-xl-6 row-cols-lg-3 row-cols-md-2 row-cols-1 my-3">
        @foreach (var item in Model) {
            <div class="col mb-2">
                <a asp-controller="Catalog" asp-action="Product" asp-route-nomId="@item.NomId" asp-route-ctlgUri="@item.CatalogUri" class="d-block">
                    <div class="card text-white mb-3 card-ovl">
                        <div class="image-fix-height-wrapper ratio150">
                            <img class="lazy image" data-srcset="@item.ImagePath?width=300&height=450 430w, @item.ImagePath?width=400&height=600 576w, @item.ImagePath?width=700&height=1050 768w, @item.ImagePath?width=400&height=600 992w, @item.ImagePath?width=300&height=450 1200w" alt="@item.ImageAltText" />
                        </div> 
                        <div class="card-img-overlay d-flex flex-column justify-content-center ovl h-100">
                            <span class="font-italic card-text text-center text-overflow">
                                @Html.Raw(item.Description)
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<!-- End Recommended section -->