﻿@model CatalogViewModel
@{
    ViewData["Title"] = "Каталоги - Удалить запись";
}

<div class="col-auto">
    <a asp-action="Index">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Назад к списку
    </a>
</div>
<hr />
<h3 class="text-danger">Вы уверены что хотите удалить данные?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaKeywords)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaKeywords)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaDescription)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger btn-block col-4">Удалить</button>
    </form>
</div>