﻿@model CatalogViewModel
@{
    ViewData["Title"] = "Каталоги - Изменить запись";
}

<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <a asp-action="Index">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Назад к списку
                    </a>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div class="form-row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Order" />
                        <input type="hidden" asp-for="PreviewPath" />
                        <div class="col-3 d-flex justify-content-center">
                            <div class="image-upload">
                                <label asp-for="PreviewPath"></label>
                                <label asp-for="Preview">
                                    @if (string.IsNullOrEmpty(Model.PreviewPath)) {
                                        <img src="~/galleryphotos/nophoto.png?width=250" class="img-fluid img-thumbnail" />
                                    } else {
                                        <img src="@Model.PreviewPath?width=250" class="img-fluid img-thumbnail" />
                                    }
                                </label>
                                <input asp-for="Preview" type="file" data-img-uploader="img" />
                                <span asp-validation-for="Preview" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="IsDisableDiscount">
                                    <label class="custom-control-label" asp-for="IsDisableDiscount"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="IsVisible">
                                    <label class="custom-control-label" asp-for="IsVisible"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="IsOpen">
                                    <label class="custom-control-label" asp-for="IsOpen"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="IsSet">
                                    <label class="custom-control-label" asp-for="IsSet"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control form-control-sm" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OrderForm" class="control-label"></label>
                                <select asp-for="OrderForm" asp-items="Html.GetEnumSelectList<OrderFormType>()" class="form-control form-control-sm"></select>
                                <span asp-validation-for="OrderForm" class="text-danger"></span>
                            </div>
                            <div class="form-group close-time">
                                <label asp-for="CloseTime" class="control-label"></label>
                                <div class="input-group date" id="datetimepicker" data-target-input="nearest" data-datetime-picker>
                                    <input asp-for="CloseTime" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker" />
                                    <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                <span asp-validation-for="CloseTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Uri" class="control-label"></label>
                                <input asp-for="Uri" class="form-control form-control-sm" />
                                <span asp-validation-for="Uri" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control form-control-sm html-editor" cols="40" rows="5"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AdditionalDescription" class="control-label"></label>
                                <textarea asp-for="AdditionalDescription" id="Body" class="form-control form-control-sm html-editor" cols="40" rows="5"></textarea>
                                <span asp-validation-for="AdditionalDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VideoPath" class="control-label"></label>
                                <input asp-for="VideoPath" class="form-control form-control-sm" />
                                <span asp-validation-for="VideoPath" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MetaTitle" class="control-label"></label>
                                <input asp-for="MetaTitle" class="form-control form-control-sm" />
                                <span asp-validation-for="MetaTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MetaKeywords" class="control-label"></label>
                                <input asp-for="MetaKeywords" class="form-control form-control-sm" />
                                <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MetaDescription" class="control-label"></label>
                                <textarea asp-for="MetaDescription" class="form-control form-control-sm" cols="40" rows="5"></textarea>
                                <span asp-validation-for="MetaDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block shadow">Подтвердить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_WysiwygScriptsPartial");
    }
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/ru.min.js"></script>

    <script src="~/js/admin/Common/ImgUploader.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/admin/Catalog/catalog-edit.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/admin/Common/datetime-picker.js" asp-append-version="true" type="text/javascript"></script>
}