﻿@model VideoGalleryViewModel
@{
    ViewData["Title"] = "Видео галерея - создать запись";
}

<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <a asp-action="Index">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Назад к списку
                    </a>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="form-row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-3 d-flex justify-content-center">
                            <div class="image-upload">
                                <label asp-for="PreviewPath"></label>
                                <label asp-for="Preview">
                                    <img src="~/galleryphotos/nophoto.png?width=250" class="img-fluid img-thumbnail" />
                                </label>
                                <input asp-for="Preview" type="file" data-img-uploader="img" />
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="IsVisible">
                                    <label class="custom-control-label" asp-for="IsVisible"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="IsOpen">
                                    <label class="custom-control-label" asp-for="IsOpen"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control form-control-sm" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control form-control-sm html-editor" rows="5" cols="40"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Slug" class="control-label"></label>
                                <input asp-for="Slug" class="form-control form-control-sm" />
                                <span asp-validation-for="Slug" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VideoPath" class="control-label"></label>
                                <input asp-for="VideoPath" class="form-control form-control-sm" />
                                <span asp-validation-for="VideoPath" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block shadow">Подтвердить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_WysiwygScriptsPartial");
    }
    <script src="~/js/admin/Common/ImgUploader.js" asp-append-version="true" type="text/javascript"></script>
}