﻿@model SearchPanelViewModel
@{
    var collapseHide = "Скрыть остальное";
    var collapseShow = "Показать остальное";
}
<div class="form-row bg-white p-2">
    <div class="col-12 mb-2">
        <input hidden name="OrderColumn" value="@Model.NomFilter.OrderColumn">
        <input type="text" class="form-control" placeholder="Поиск по артикулу" name="Name" value="@Model.NomFilter.Name">
    </div>
    <div class="col-12 mb-2">
        <div class="row">
            <div class="col-sm-12 col-lg-5 mr-auto pr-lg-0">
                <input type="text" class="form-control" placeholder="Цена мин" name="PriceMin" value="@Model.NomFilter.PriceMin">
            </div>
            <div class="col-sm-12 col-lg-2 text-center">
                <label for="inputEmail3" class="col-form-label">&mdash;</label>
            </div>
            <div class="col-sm-12 col-lg-5 ml-auto pl-lg-0">
                <input type="text" class="form-control" placeholder="Цена макс" name="PriceMax" value="@Model.NomFilter.PriceMax">
            </div>
        </div>
    </div>
    <div class="col-12 mb-2">
        <div class="card border-0">
            <h5 class="m-1"><b>Категории:</b></h5>
            @foreach (var item in Model.NomSearch.Categories.Take(5)) {
                if (Model.NomFilter.CategoryIds.Contains(item.Id)) {
                    <label class="container-checkbox m-1">
                        @item.Name
                        <input type="checkbox" name="CategoryIds" id="CategoryIds[@item.Id]" value="@item.Id" checked>
                        <span class="checkmark"></span>
                    </label>
                } else {
                    <label class="container-checkbox m-1">
                        @item.Name
                        <input type="checkbox" name="CategoryIds" id="CategoryIds[@item.Id]" value="@item.Id">
                        <span class="checkmark"></span>
                    </label>
                }
            }
            <div class="collapse search-panel-collapse" id="One">
                @foreach (var item in Model.NomSearch.Categories.Skip(5)) {
                    if (Model.NomFilter.CategoryIds.Contains(item.Id)) {
                        <label class="container-checkbox m-1">
                            @item.Name
                            <input type="checkbox" name="CategoryIds" id="CategoryIds[@item.Id]" value="@item.Id" checked>
                            <span class="checkmark"></span>
                        </label>
                    } else {
                        <label class="container-checkbox m-1">
                            @item.Name
                            <input type="checkbox" name="CategoryIds" id="CategoryIds[@item.Id]" value="@item.Id">
                            <span class="checkmark"></span>
                        </label>
                    }
                }
            </div>
            <button type="button" class="btn btn-main btn-filter" data-toggle="collapse" data-target="#One" data-collapse-show="@collapseShow" data-collapse-hide="@collapseHide">@collapseShow</button>
        </div>
    </div>
    @if (Model.NomFilter.IsSet) {
        <div class="col-12 mb-2">
            <div class="card border-0">
                <h5 class="m-1"><b>Размерный ряд:</b></h5>
                @foreach (var item in Model.NomSearch.SizeLines.Take(5)) {
                    if (Model.NomFilter.SizeLineIds.Contains(item.Id)) {
                        <label class="container-checkbox m-1">
                            @item.Name
                            <input type="checkbox" name="SizeLineIds" id="SizeLineIds[@item.Id]" value="@item.Id" checked>
                            <span class="checkmark"></span>
                        </label>
                    } else {
                        <label class="container-checkbox m-1">
                            @item.Name
                            <input type="checkbox" name="SizeLineIds" id="SizeLineIds[@item.Id]" value="@item.Id">
                            <span class="checkmark"></span>
                        </label>
                    }
                }
                <div class="collapse search-panel-collapse" id="Three">
                    @foreach (var item in Model.NomSearch.SizeLines.Skip(5)) {
                        if (Model.NomFilter.SizeLineIds.Contains(item.Id)) {
                            <label class="container-checkbox m-1">
                                @item.Name
                                <input type="checkbox" name="SizeLineIds" id="SizeLineIds[@item.Id]" value="@item.Id" checked>
                                <span class="checkmark"></span>
                            </label>
                        } else {
                            <label class="container-checkbox m-1">
                                @item.Name
                                <input type="checkbox" name="SizeLineIds" id="SizeLineIds[@item.Id]" value="@item.Id">
                                <span class="checkmark"></span>
                            </label>
                        }
                    }
                </div>
                <button type="button" class="btn btn-main btn-filter" data-toggle="collapse" data-target="#Three" data-collapse-show="@collapseShow" data-collapse-hide="@collapseHide">@collapseShow</button>
            </div>
        </div>
    } else {
        <div class="col-12 mb-2">
            <div class="card border-0">
                <h5 class="m-1"><b>Размер:</b></h5>
                @foreach (var item in Model.NomSearch.Sizes.Take(5)) {
                    if (Model.NomFilter.SizeIds.Contains(item.Id)) {
                        <label class="container-checkbox m-1">
                            @item.Name
                            <input type="checkbox" name="SizeIds" id="SizeIds[@item.Id]" value="@item.Id" checked>
                            <span class="checkmark"></span>
                        </label>
                    } else {
                        <label class="container-checkbox m-1">
                            @item.Name
                            <input type="checkbox" name="SizeIds" id="SizeIds[@item.Id]" value="@item.Id">
                            <span class="checkmark"></span>
                        </label>
                    }
                }
                <div class="collapse search-panel-collapse" id="Four">
                    @foreach (var item in Model.NomSearch.Sizes.Skip(5)) {
                        if (Model.NomFilter.SizeIds.Contains(item.Id)) {
                            <label class="container-checkbox m-1">
                                @item.Name
                                <input type="checkbox" name="SizeIds" id="SizeIds[@item.Id]" value="@item.Id" checked>
                                <span class="checkmark"></span>
                            </label>
                        } else {
                            <label class="container-checkbox m-1">
                                @item.Name
                                <input type="checkbox" name="SizeIds" id="SizeIds[@item.Id]" value="@item.Id">
                                <span class="checkmark"></span>
                            </label>
                        }
                    }
                </div>
                <button type="button" class="btn btn-main btn-filter" data-toggle="collapse" data-target="#Four" data-collapse-show="@collapseShow" data-collapse-hide="@collapseHide">@collapseShow</button>
            </div>
        </div>
    }
    <div class="col-12 mb-2">
        <div class="card border-0">
            <h5 class="m-1"><b>Цвет:</b></h5>
            @foreach (var item in Model.NomSearch.Colors.Take(5)) {
                if (Model.NomFilter.ColorIds.Contains(item.Id)) {
                    <label class="container-checkbox m-1">
                        @item.Name
                        <input type="checkbox" name="ColorIds" id="ColorIds[@item.Id]" value="@item.Id" checked>
                        <span class="checkmark"></span>
                    </label>
                } else {
                    <label class="container-checkbox m-1">
                        @item.Name
                        <input type="checkbox" name="ColorIds" id="ColorIds[@item.Id]" value="@item.Id">
                        <span class="checkmark"></span>
                    </label>
                }
            }
            <div class="collapse search-panel-collapse" id="Two">
                @foreach (var item in Model.NomSearch.Colors.Skip(5)) {
                    if (Model.NomFilter.ColorIds.Contains(item.Id)) {
                        <label class="container-checkbox m-1">
                            @item.Name
                            <input type="checkbox" name="ColorIds" id="ColorIds[@item.Id]" value="@item.Id" checked>
                            <span class="checkmark"></span>
                        </label>
                    } else {
                        <label class="container-checkbox m-1">
                            @item.Name
                            <input type="checkbox" name="ColorIds" id="ColorIds[@item.Id]" value="@item.Id">
                            <span class="checkmark"></span>
                        </label>
                    }
                }
            </div>
            <button type="button" class="btn btn-main btn-filter" data-toggle="collapse" data-target="#Two" data-collapse-show="@collapseShow" data-collapse-hide="@collapseHide">@collapseShow</button>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-lg btn-basic btn-active rounded-0">Найти</button>
            <a asp-action="Index" asp-controller="Catalog" asp-route-catalogUri="@Model.NomFilter.CatalogUri" class="btn btn-block btn-lg btn-basic btn-main rounded-0">Сбросить фильтры</a>
        </div>
    </div>
</div>