﻿@{
    ViewData["Title"] = @ViewData["Header"];
}

<h1 class="text-center my-4 text-basic">@ViewData["Header"]</h1>
<h2 class="text-center my-4">@ViewData["Message"]</h2>
<div class="text-center">
    <img src="~/img/success.svg" class="img-fluid" alt="success">
</div>
<div class="container col-sm-12 col-md-6 col-lg-2 my-4">
    <div class="row justify-content-center">
        <div class="col">
            @if (!string.IsNullOrEmpty((string)ViewData["CatalogUri"])) {
                <a asp-action="Index" asp-controller="Catalog" asp-route-catalogUri="@ViewData["CatalogUri"]" class="btn btn-block btn-basic btn-main">Вернуться в каталог</a>
            } else {
                <a asp-action="Index" asp-controller="Home" class="btn btn-block btn-basic btn-main">Вернуться на главную</a>
            }
        </div>
    </div>
</div>

