﻿@inject KristaShop.Business.Interfaces.IMetaHelperService helperService
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/favicon.png">
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css" crossorigin="anonymous">
    <link href="~/lib/lightbox2/css/lightbox.min.css" rel="stylesheet" />
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="~/lib/floating-back-top-button/css/floating-totop-button.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.2/dist/lazyload.min.js" integrity="sha256-LG2BYsl7F5cfXxAualYGtC3LIgoJHCrBcEjvSFgXwgk=" crossorigin="anonymous"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/lightbox-zoom-integration.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-icomoon.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/iconshelper.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/personal.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/lightslider-customize.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/beauty-checkbox.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/floating-totop-button-customization.css" asp-append-version="true" />
    </environment>
    <environment include="Production, Staging">
        <link rel="stylesheet" href="~/css/min/fonts.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/min/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)

    @{
        string segements = $"/{this.ViewContext.RouteData.Values["controller"]}/{this.ViewContext.RouteData.Values["action"]}";
        @(Html.Raw(await helperService.GetMetaInfoAsync(ViewData["MetaInfoPath"]?.ToString() ?? segements)));
        segements = null;
    }
</head>
    @Html.AntiForgeryToken()

<body class="d-flex flex-column">
    <header>
        @await Component.InvokeAsync("Navbar")
        <partial name="_IdentityPartial" />
    </header>

    <div class="content mb-3">
        @RenderBody()

        <script>
            // position of the script is required by library, don't move
            var lazyload = new LazyLoad({
                thresholds: "200% 0px"
            });
            lazyload.update();
        </script>
    </div>

    <partial name="_Footer" />
    <partial name="Partials/_DialogsPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/parallax.js-1.5.0/parallax.js"></script>
    <script src="~/lib/lightbox2/js/lightbox.min.js"></script>
    <script src="~/lib/simple-image-inner-zoom/jquery.zoom-new.js"></script>
    <script src="~/lib/floating-back-top-button/js/floating-totop-button.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha256-x3YZWtRjM8bJqf48dFAv/qmgL68SI4jqNWeSLMZaMGA=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js" integrity="sha256-1nLUd8qmbKFJ49vzU7vub7VOQxjb1zy9FDsgtjfak7M=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-ru_RU.min.js" integrity="sha256-iNUIGm0VNpaS2eHmNYFtLNrmv9GYiTnXVF1v6S9/qvs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.3.5/dist/sweetalert2.all.min.js" integrity="sha256-rcFEivPFt1SFgtwZ1QpFNKE+jBTtOzT5yfXn55ZtmmE=" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["googleReCaptcha:SiteKey"]"></script>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/identity.js" asp-append-version="true"></script>
        <script src="~/js/lightbox-zoom-integration.js" asp-append-version="true"></script>
        <script src="~/js/core/jquery-extension.js" asp-append-version="true"></script>
        <script src="~/js/core/types.js" asp-append-version="true"></script>
        <script src="~/js/core/modal-windows.js" asp-append-version="true"></script>
        <script src="~/js/core/tab-forms-handler.js" asp-append-version="true"></script>
        <script src="~/js/core/background-form-handler.js" asp-append-version="true"></script>
        <script src="~/js/core/disabled-button-warning.js" asp-append-version="true"></script>
        <script src="~/js/core/validation/required-this-or-other-validation.js" asp-append-version="true"></script>
        <script src="~/js/core/validation/is-true-validation.js" asp-append-version="true"></script>
        <script src="~/js/pages/cards.js" asp-append-version="true"></script>
        <script src="~/js/pages/search-panel.js" asp-append-version="true"></script>
        <script src="~/js/back-to-top-button.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production, Staging">
        <script src="~/js/min/site.min.js" asp-append-version="true"></script>
        <script src="~/js/min/pages.min.js" asp-append-version="true"></script>
        <script src="~/js/min/custom-validation.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    @if (TempData["AlertResult"] != null) {
        <script type="text/javascript">
                $(document).ready(function() {
                    var alertResult = JSON.parse(@Html.Raw(Json.Serialize(TempData["AlertResult"])));
                    var htmlText = "";
                    alertResult.Messages.forEach(element => htmlText += element + "<br>");
                    showNotification(alertResult.AlertType, htmlText);
                });
        </script>
    }
</body>
</html>